/bootstrap/compiled.php
/vendor
/public/assets/uploads/*
/app/database/seeds/UserSeeder.php
/app/database/seeds/SettingsSeeder.php
/node_modules/*
/public/assets/videos/*
/app/config/staging/*
/app/config/local/*
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
