.pull-right {
  float: right; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .clearfix:after {
    clear: both; }

.pull-right {
  float: right; }

.sr-only {
  display: none; }

html {
  height: 100%; }

body {
  background-color: #f0f0f0;
  height: 100%;
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
  font-size: 16px;
  margin: 0; }

a {
  color: #31708f;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
       -o-transition: all 200ms ease;
          transition: all 200ms ease; }
  a:hover {
    color: #173543;
    -webkit-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease; }

.pagewrap {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 40px; }

.container {
  margin: 0 auto;
  max-width: 850px; }

img {
  max-width: 100%; }

@media (max-width: 767px) {
  .container {
    padding: 0 20px; } }

h1 {
  color: #4d4d4d;
  font-size: 30px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }
  h1 .btn, h1 .dz-message p span, .dz-message p h1 span {
    font-family: "proxima-nova-n4", "proxima-nova", sans-serif; }
  h1 span {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px; }
    h1 span .btn, h1 span .dz-message p span, .dz-message p h1 span span {
      margin-top: -20px; }

h4 {
  margin: 0; }

hr {
  border: 0;
  margin: 20px 0;
  height: 3px;
  background-color: #d9d9d9;
  clear: both; }

@media (max-width: 767px) {
  h1 {
    font-size: 22px; } }

.btn-primary {
  background-color: #31708f;
  border-color: #2a627c; }
  .btn-primary:hover {
    background-color: #245369;
    border-color: #214d61; }

.btn, .dz-message p span {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  padding: 0px 10px;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
       -o-transition: all 200ms ease;
          transition: all 200ms ease;
  color: #000;
  line-height: 33px; }
  .btn:hover, .dz-message p span:hover {
    background-color: #e0e0e0;
    -webkit-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
    border-color: #bfbfbf;
    color: #000; }
  .btn.btn-mini, .dz-message p span.btn-mini {
    padding: 0px 6px;
    font-size: 13px; }
  .btn:focus, .dz-message p span:focus {
    outline: none; }
  .btn.active, .dz-message p span.active {
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: #e0e0e0;
    border-color: #bfbfbf; }
  .btn:disabled, .dz-message p span:disabled {
    background-color: #cccccc;
    border-color: #b3b3b3;
    cursor: not-allowed; }

.btn-danger {
  background-color: #a94442;
  color: #ffffff;
  border-color: #8c3837; }
  .btn-danger:hover {
    background-color: #8c3837;
    color: #ffffff;
    border-color: #7d3231; }
  .btn-danger:disabled {
    opacity: 0.5; }

.btn-warning {
  background-color: #31708f;
  color: #ffffff;
  border-color: #275971; }
  .btn-warning:hover {
    background-color: #275971;
    color: #ffffff;
    border-color: #214d61; }

.btn-success {
  color: #ffffff;
  background-color: #31708f;
  border-color: #2a627c; }
  .btn-success:hover {
    color: #ffffff;
    background-color: #245369;
    border-color: #214d61; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts-admin/icomoon.eot?c3n08j');
  src: url('fonts-admin/icomoon.eot?#iefixc3n08j') format('embedded-opentype'), url('fonts-admin/icomoon.woff?c3n08j') format('woff'), url('fonts-admin/icomoon.ttf?c3n08j') format('truetype'), url('fonts-admin/icomoon.svg?c3n08j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-caret-down {
  border-bottom: 5px solid transparent;
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.icon-caret-up {
  border-top: 5px solid transparent;
  border-bottom: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.icon-pencil:before {
  content: "\e600"; }

.icon-image:before {
  content: "\e60a"; }

.icon-folder:before {
  content: "\e60b"; }

.icon-folder-open:before {
  content: "\e60c"; }

.icon-envelope:before {
  content: "\e60d"; }

.icon-box-add:before {
  content: "\e60e"; }

.icon-download:before {
  content: "\e60f"; }

.icon-user:before {
  content: "\e601"; }

.icon-users:before {
  content: "\e602"; }

.icon-cog:before {
  content: "\e610"; }

.icon-remove:before {
  content: "\e611"; }

.icon-remove2:before {
  content: "\e612"; }

.icon-star:before {
  content: "\e605"; }

.icon-heart:before {
  content: "\e609"; }

.icon-close:before {
  content: "\e606"; }

.icon-checkmark:before {
  content: "\e607"; }

.icon-loop:before {
  content: "\e608"; }

.icon-loop2:before {
  content: "\e613"; }

.icon-arrow-right:before {
  content: "\e614"; }

.icon-crop:before {
  content: "\e615"; }

.icon-instagram:before {
  content: "\e603"; }

.icon-twitter:before {
  content: "\e604"; }

.alert, .modal.media .ml-chosen-image {
  display: block;
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
  padding: 8px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 15px;
  zoom: 1; }
  .alert:before, .modal.media .ml-chosen-image:before, .alert:after, .modal.media .ml-chosen-image:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .alert:after, .modal.media .ml-chosen-image:after {
    clear: both; }
  .alert .btn, .alert .modal.media .ml-chosen-image, .modal.media .alert .ml-chosen-image, .alert .dz-message p span, .dz-message p .alert span {
    margin-left: 8px;
    float: left; }
    .alert .btn.pull-right, .alert .modal.media .ml-chosen-image, .modal.media .alert .ml-chosen-image, .alert .dz-message p span.pull-right, .dz-message p .alert span.pull-right {
      float: right; }

.alert-import {
  padding: 15px 8px 8px 8px; }
  .alert-import .import-buttons {
    margin-top: -7px; }

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1; }

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6; }

.text-danger {
  color: #a94442; }

@media (max-width: 767px) {
  .alert, .modal.media .ml-chosen-image {
    zoom: 1; }
    .alert:before, .modal.media .ml-chosen-image:before, .alert:after, .modal.media .ml-chosen-image:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .alert:after, .modal.media .ml-chosen-image:after {
      clear: both; }
    .alert .pull-right, .alert .modal.media .ml-chosen-image, .modal.media .alert .ml-chosen-image {
      float: none !important;
      text-align: center; }
    .alert .btn, .alert .modal.media .ml-chosen-image, .modal.media .alert .ml-chosen-image, .alert .dz-message p span, .dz-message p .alert span {
      float: none;
      display: inline-block;
      margin: 0; } }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: 95%;
  margin: 10px auto; }

.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal-backdrop.fade {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
  .modal-backdrop.in {
    opacity: 0.9;
    -webkit-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }

.modal-header {
  padding: 15px 6px 6px 6px;
  border-bottom: 1px solid #ebebeb;
  zoom: 1; }
  .modal-header:before, .modal-header:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .modal-header:after {
    clear: both; }
  .modal-header button {
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
    font-size: 24px !important;
    background: transparent;
    border: 0; }
    .modal-header button:hover {
      color: #31708f;
      background: transparent; }

.modal-title {
  margin: 0; }

.modal-body {
  position: relative;
  padding: 20px;
  max-height: 300px;
  overflow: auto; }

.modal-footer {
  padding: 10px;
  text-align: right;
  zoom: 1; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn, .modal-footer .btn + .dz-message p span, .dz-message p .modal-footer .btn + span, .modal-footer .btn + .dz-message p span, .dz-message p .modal-footer .btn + span {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn, .modal-footer .btn-group .btn + .dz-message p span, .dz-message p .modal-footer .btn-group .btn + span, .modal-footer .btn-group .btn + .dz-message p span, .dz-message p .modal-footer .btn-group .btn + span {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.media-library-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  zoom: 1;
  margin-left: -6px; }
  .media-library-tabs:before, .media-library-tabs:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .media-library-tabs:after {
    clear: both; }
  .media-library-tabs li {
    float: left;
    position: relative;
    height: 40px; }
    .media-library-tabs li a {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      line-height: 40px;
      height: 40px;
      padding: 0 20px;
      color: #666666;
      position: relative;
      -webkit-transition: none;
           -o-transition: none;
              transition: none;
      color: #31708f; }
      .media-library-tabs li a.active {
        color: #000000;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #ffffff;
        -webkit-transition: none;
             -o-transition: none;
                transition: none; }
    .media-library-tabs li:first-child a.active {
      border-left: 0; }

.modal.media .modal-dialog {
  height: 95%;
  overflow: auto; }
.modal.media .modal-content {
  height: 100%; }
.modal.media .modal-header {
  padding-bottom: 0;
  padding-top: 8px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  position: relative; }
  .modal.media .modal-header button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    font-size: 24px;
    background: transparent;
    border: 0; }
    .modal.media .modal-header button:hover {
      color: #31708f; }
.modal.media .modal-body {
  max-height: 400px; }
  .modal.media .modal-body.loading {
    height: 100px;
    background: url('../../images/loading-gray-white.gif'), #ffffff;
    background-repeat: no-repeat;
    background-position: center; }
.modal.media select {
  width: 30%;
  float: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
.modal.media .ml-body {
  clear: both; }
.modal.media .ml-chosen-image {
  clear: none;
  float: right;
  width: 65%;
  margin: 0; }

.modal-select {
  padding: 10px 10px 0px 10px; }

.media-library-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  zoom: 1;
  margin-top: -20px;
  padding: 10px;
  background-color: #e6e6e6; }
  .media-library-list:before, .media-library-list:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .media-library-list:after {
    clear: both; }
  .media-library-list li {
    float: left;
    width: 25%; }
    .media-library-list li.first {
      clear: both; }
    .media-library-list li div {
      padding: 8px; }
    .media-library-list li a {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      display: block;
      padding: 10px;
      font-size: 14px;
      background-color: #ffffff; }
      .media-library-list li a.selected {
        border: 3px solid #00a950; }
    .media-library-list li span {
      overflow: hidden;
      max-height: 17px;
      display: block; }

.dropzone-file {
  display: none; }

.modal-select {
  padding: 8px 20px 0px 20px; }

.dropzone-form-cont {
  zoom: 1; }
  .dropzone-form-cont:before, .dropzone-form-cont:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .dropzone-form-cont:after {
    clear: both; }

.dz-message {
  padding: 0px 20px;
  cursor: pointer;
  display: block; }
  .dz-message .dz-interior {
    background-color: #f0f0f0;
    height: 180px;
    text-align: center;
    padding: 20px;
    -webkit-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease; }
  .dz-message p {
    height: 140px;
    padding-top: 40px;
    margin: 0;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease; }
    .dz-message p span {
      margin-top: 10px; }
  .dz-message em {
    display: block;
    font-style: normal; }
  .dz-message strong {
    display: block;
    font-size: 24px; }
  .dz-message i {
    font-size: 45px;
    color: #333333;
    -webkit-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease; }

.dz-started .dz-message {
  display: none; }

.dz-drag-hover .dz-message .dz-interior {
  background-color: #31708f;
  -webkit-transition: all 200ms ease;
       -o-transition: all 200ms ease;
          transition: all 200ms ease; }
.dz-drag-hover .dz-message p {
  background-color: #31708f;
  color: #ffffff;
  border-color: #245369;
  -webkit-transition: all 200ms ease;
       -o-transition: all 200ms ease;
          transition: all 200ms ease; }
.dz-drag-hover .dz-message i {
  color: #bce8f1;
  -webkit-transition: all 200ms ease;
       -o-transition: all 200ms ease;
          transition: all 200ms ease; }

.dz-success.dz-preview {
  cursor: pointer; }

.dz-preview {
  float: left;
  width: 22.5%;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  margin: 0 0 20px 2%; }
  .dz-preview .dz-size, .dz-preview .dz-success-mark, .dz-preview .dz-error-mark, .dz-preview .dz-remove {
    display: none; }
  .dz-preview:nth-child(4n+4) {
    clear: both; }
  .dz-preview .dz-filename {
    display: none;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden; }
  .dz-preview .dz-image-preview {
    text-align: center;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .dz-preview .media-library-item {
    display: block; }
    .dz-preview .media-library-item.selected {
      border: 3px solid #00a950; }
  .dz-preview.dz-processing {
    background: url('../../images/loading-dropzone.gif') #f0f0f0;
    background-repeat: no-repeat;
    background-position: center; }
    .dz-preview.dz-processing.dz-success {
      background: transparent;
      background-color: #f0f0f0; }

@media (max-width: 767px) {
  .modal.media .modal-dialog {
    height: auto;
    overflow: auto; }
  .modal.media .modal-body {
    max-height: 200px; }
  .modal.media select {
    width: 100%;
    float: none; }
  .modal.media .ml-chosen-image {
    display: none; }
  .media-library-tabs li {
    float: left;
    position: relative;
    height: 35px; }
    .media-library-tabs li a {
      font-size: 15px;
      line-height: 35px;
      height: 35px;
      padding: 0 10px; }
  .media-library-list li {
    float: left;
    width: 50%; } }

.form-group.half {
  float: left;
  width: 48%; }
  .form-group.half.right {
    float: right;
    clear: none; }

.form-group {
  clear: both; }

label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  color: #4d4d4d;
  font-size: 15px; }

select {
  width: 100%;
  height: 35px;
  margin-bottom: 15px; }

input[type='text'], input[type='password'], input[type='email'] {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  height: 35px;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #d9d9d9;
  padding: 0px 8px; }
  input[type='text']:focus, input[type='password']:focus, input[type='email']:focus {
    outline: none; }
  input[type='text'].readonly, input[type='password'].readonly, input[type='email'].readonly {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: not-allowed; }

input[type='submit'] {
  border: 0;
  background-color: #31708f;
  font-size: 16px;
  color: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  input[type='submit'].btn-danger {
    background-color: #8c3837;
    margin-top: 20px; }

textarea {
  width: 100%;
  border: 1px solid #d9d9d9;
  font-size: 15px;
  padding: 8px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  resize: none; }
  textarea:focus {
    outline: none; }

select {
  -webkit-appearance: none;
  padding: 0 8px;
  background: url('../../images/select-arrow.png') #e0e0e0;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #d9d9d9;
  font-size: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  select:focus {
    outline: none; }

form p {
  clear: both; }
form p.half {
  float: left;
  width: 48%; }
  form p.half.right {
    float: right;
    clear: none; }
form p.third {
  float: left;
  width: 30%;
  margin-right: 5%;
  clear: none; }
  form p.third.last {
    float: right;
    margin-right: 0; }
form .slug {
  position: relative;
  padding: 5px;
  margin-top: -15px;
  background-color: #f0f0f0;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  form .slug label {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold; }
  form .slug em {
    font-style: normal;
    font-weight: bold; }
  form .slug p {
    display: inline;
    cursor: pointer; }
  form .slug input[type='text'] {
    display: none;
    height: 24px;
    font-size: 15px;
    width: 150px;
    margin: 0; }
  form .slug button {
    display: none;
    font-size: 14px;
    height: 26px;
    line-height: 24px; }

.seo-preview {
  margin: 15px 0px 0px 0px;
  border: 1px solid #ebebeb;
  padding: 10px;
  font-family: arial, sans-serif; }
  .seo-preview h4 {
    font-weight: normal;
    color: #1a0dab;
    font-size: 18px;
    border: 0;
    padding: 0; }
  .seo-preview p {
    margin: 0;
    color: #222;
    font-size: 15px;
    line-height: 1.4em; }
  .seo-preview em {
    display: block;
    color: #006621;
    font-weight: normal;
    font-style: normal; }

.newfield {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 8px;
  margin-bottom: 20px; }

.customfields-existing {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }
  .customfields-existing h4 {
    padding: 8px;
    cursor: pointer; }
    .customfields-existing h4 i {
      float: right;
      margin-top: 8px; }
  .customfields-existing li {
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0; }
    .customfields-existing li:first-child {
      border: 0; }
    .customfields-existing li:nth-child(odd) {
      background-color: #ebebeb; }
    .customfields-existing li .redactor_toolbar li:nth-child(odd) {
      background-color: inherit; }
    .customfields-existing li section {
      display: none;
      padding: 10px;
      zoom: 1; }
      .customfields-existing li section:before, .customfields-existing li section:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */ }
      .customfields-existing li section:after {
        clear: both; }
  .customfields-existing .btn-danger {
    font-size: 14px;
    padding: 4px 10px;
    height: auto;
    line-height: 20px;
    float: right; }

@media (max-width: 767px) {
  .form-group.half {
    float: none;
    width: 100%; }
  form p.half {
    float: none;
    width: 100%; }
    form p.half.right {
      float: none;
      clear: none; }
  form p.third {
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    clear: both; }
    form p.third.last {
      float: none; } }

.well {
  background: transparent;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  zoom: 1;
  padding-bottom: 0; }
  .well:before, .well:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .well:after {
    clear: both; }
  .well h3 {
    margin: 0 0 15px 0;
    padding: 0; }
  .well h4 {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0; }

.well-interior {
  padding: 15px; }

.delete-well {
  text-align: right;
  margin: 20px 0;
  clear: both;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .delete-well .btn, .delete-well .dz-message p span, .dz-message p .delete-well span {
    font-size: 14px; }

.pagination {
  zoom: 1;
  display: inline-block;
  text-align: center; }
  .pagination:before, .pagination:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .pagination:after {
    clear: both; }
  .pagination li {
    display: inline-block;
    background-color: #ffffff; }
    .pagination li a {
      display: block;
      padding: 8px 10px;
      border-left: 1px solid #e0e0e0;
      -webkit-transition: all 200ms ease;
           -o-transition: all 200ms ease;
              transition: all 200ms ease; }
      .pagination li a:hover {
        background-color: #00702c;
        color: #ffffff;
        -webkit-transition: all 200ms ease;
             -o-transition: all 200ms ease;
                transition: all 200ms ease; }
    .pagination li:first-child a {
      border: 0; }
    .pagination li.disabled span, .pagination li.active span {
      display: block;
      padding: 8px 10px;
      background-color: #e6e6e6 !important; }

.pagination-cont {
  text-align: center; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 996;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: padding-box;
          background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 24px;
    color: #000;
    white-space: nowrap; }

.dropdown-menu li.divider {
  height: 1px;
  background-color: #d9d9d9; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #000;
  background-color: #ebebeb; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #000;
  text-decoration: none;
  outline: 0;
  background-color: #ebebeb; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed; }

.open > .dropdown-menu {
  display: block; }
.open > a {
  outline: 0; }
.open .caret {
  border-top: 0;
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 986; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px; }
  table thead th {
    background-color: #00471b;
    color: #ffffff;
    text-align: left;
    padding: 15px 10px; }
  table tbody tr:nth-child(even) {
    background-color: #ebebeb; }
  table tbody td {
    padding: 5px 10px;
    border-left: 1px solid #e0e0e0; }
    table tbody td:last-child {
      padding-right: 0; }
    table tbody td:first-child {
      border: 0; }

.page-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .page-list li {
    zoom: 1;
    padding: 5px 10px;
    background-color: #ffffff;
    cursor: move; }
    .page-list li:before, .page-list li:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .page-list li:after {
      clear: both; }
    .page-list li:nth-child(even) {
      background-color: #ebebeb; }
    .page-list li strong {
      margin-top: 8px;
      display: inline-block; }
    .page-list li label {
      display: inline;
      float: right;
      margin: 5px 30px 0px 0px; }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #333333;
  height: 45px;
  color: #000000;
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 5px 10px;
  zoom: 1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  .navbar:before, .navbar:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .navbar:after {
    clear: both; }
  .navbar ul.nav {
    display: block;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1;
    margin: -5px 0px 0px 0px; }
    .navbar ul.nav:before, .navbar ul.nav:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .navbar ul.nav:after {
      clear: both; }
    .navbar ul.nav li {
      float: left;
      margin-right: 20px;
      height: 45px;
      line-height: 45px;
      border-left: 1px solid #474747;
      padding-left: 10px; }
      .navbar ul.nav li:first-child {
        border: 0; }
      .navbar ul.nav li a {
        color: #ffffff;
        font-size: 15px; }
        .navbar ul.nav li a i {
          color: #bfbfbf; }
      .navbar ul.nav li ul li {
        float: none;
        padding-left: 0px;
        margin: 0;
        height: auto;
        border: none; }
        .navbar ul.nav li ul li a {
          color: #000000; }
  .navbar ul.navbar-right {
    float: right; }
    .navbar ul.navbar-right .dropdown-menu {
      right: 0;
      left: auto; }
  .navbar .logo {
    float: left;
    margin-right: 30px;
    color: #00a950; }
    .navbar .logo img {
      width: 90px;
      position: relative; }
  .navbar .dropdown-menu {
    top: 45px;
    left: 0;
    background-color: #1f1f1f;
    border: 0; }
    .navbar .dropdown-menu li a {
      color: #ffffff !important; }
      .navbar .dropdown-menu li a:hover {
        background-color: #474747; }
    .navbar .dropdown-menu li.light a {
      background-color: #424242;
      border-top: 1px solid #4d4d4d; }
      .navbar .dropdown-menu li.light a:hover {
        background-color: #525252; }

.navclear {
  display: block;
  height: 45px; }

.admin-nav-toggle {
  display: none;
  float: right;
  background-color: #4d4d4d;
  color: #ffffff;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin: 8px 8px 0px 0px; }
  .admin-nav-toggle:hover {
    color: #ffffff; }
  .admin-nav-toggle.active {
    background-color: #ffffff;
    color: #000000; }

@media (min-width: 768px) {
  .navbar ul.nav {
    display: block !important; } }

@media (max-width: 767px) {
  .admin-nav-toggle {
    display: block; }
  .navbar {
    padding: 0; }
    .navbar ul.nav {
      display: none;
      float: none;
      clear: both;
      width: 100%;
      margin: 0; }
      .navbar ul.nav li {
        float: none;
        margin: 0px;
        padding: 0;
        height: auto;
        zoom: 1; }
        .navbar ul.nav li:before, .navbar ul.nav li:after {
          content: " ";
          /* 1 */
          display: table;
          /* 2 */ }
        .navbar ul.nav li:after {
          clear: both; }
        .navbar ul.nav li .caret {
          float: right;
          margin-top: 20px; }
        .navbar ul.nav li a {
          background-color: #333333;
          color: #ffffff;
          display: block;
          padding: 2px 8px;
          border-top: 1px solid #1a1a1a; }
        .navbar ul.nav li .dropdown-menu {
          margin: 0;
          padding: 0;
          border: 0;
          -webkit-border-radius: 0;
                  border-radius: 0;
          position: relative;
          top: 0;
          float: none;
          width: 100%;
          background-color: #00a950; }
          .navbar ul.nav li .dropdown-menu li a {
            display: block;
            padding: 8px;
            background-color: #4d4d4d;
            border-color: #333333;
            color: #ffffff; }
            .navbar ul.nav li .dropdown-menu li a:hover {
              background-color: #000000; }
    .navbar ul.navbar-right {
      float: none; }
      .navbar ul.navbar-right .dropdown-menu {
        right: 0;
        left: auto; }
    .navbar .logo {
      margin: 8px 0px 0px 8px; } }

footer.admin {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 20px;
  font-size: 13px;
  color: #808080; }
  footer.admin span {
    float: right; }
  footer.admin a {
    color: #808080; }
    footer.admin a:hover {
      color: #ffffff; }

.page-head {
  background-color: #e6e6e6;
  border-bottom: 1px solid #d9d9d9;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
  padding: 20px 0; }
  .page-head.margin {
    margin-bottom: 20px; }
  .page-head h1 {
    margin: 0; }
  .page-head select {
    float: right;
    width: 50%;
    max-width: 200px;
    margin-top: -35px;
    background-color: #cccccc;
    border: 0; }

@media (max-width: 767px) {
  .page-head {
    padding: 10px 20px; }
    .page-head .container {
      padding: 0; }
    .page-head select {
      float: none;
      width: 100%;
      max-width: none;
      margin-top: 5px; }
    .page-head .pull-right {
      float: none;
      display: block; } }

.login {
  padding-top: 50px;
  text-align: center; }
  .login .logo {
    margin-bottom: 30px; }
  .login img {
    width: auto; }
  .login form {
    background-color: #ffffff;
    max-width: 400px;
    margin: 0 auto;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    text-align: left; }
    .login form section {
      padding: 10px; }
  .login h3 {
    -webkit-border-radius: 4px 4px 0px 0px;
            border-radius: 4px 4px 0px 0px;
    background-color: #ebebeb;
    padding: 8px 0px;
    color: #005721;
    text-align: center;
    margin: 0; }
  .login input[type='submit'] {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0; }

.user-row {
  background-color: #ffffff;
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding: 8px;
  zoom: 1; }
  .user-row:before, .user-row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .user-row:after {
    clear: both; }
  .user-row img {
    float: left;
    width: 15%; }
  .user-row section {
    float: right;
    width: 80%; }
  .user-row.first {
    margin-top: 0;
    border-top: 0; }

.searchterm {
  background-color: #d9d9d9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 8px;
  margin-bottom: 30px;
  zoom: 1; }
  .searchterm:before, .searchterm:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .searchterm:after {
    clear: both; }
  .searchterm ul {
    float: left;
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1; }
    .searchterm ul:before, .searchterm ul:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .searchterm ul:after {
      clear: both; }
    .searchterm ul li {
      position: relative;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      float: left;
      width: 49%;
      font-size: 18px; }
      .searchterm ul li:nth-child(even) {
        float: right; }
      .searchterm ul li label {
        position: absolute;
        color: #31708f;
        font-size: 20px;
        top: 9px;
        left: 13px; }
  .searchterm .btn, .searchterm .dz-message p span, .dz-message p .searchterm span {
    float: right;
    width: 18%;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0; }
  .searchterm input[type='text'] {
    height: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 40px;
    margin: 0; }
    .searchterm input[type='text']:focus {
      outline: none; }

@media (max-width: 767px) {
  .searchterm ul {
    float: none;
    width: 100%; }
    .searchterm ul li {
      float: none;
      width: 100%;
      margin-bottom: 10px; }
  .searchterm .btn, .searchterm .dz-message p span, .dz-message p .searchterm span {
    float: none;
    width: 100%; } }

.import-buttons #import-loading {
  display: none; }
  .import-buttons #import-loading img {
    float: left;
    width: auto; }

.single-form {
  display: none;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 8px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  zoom: 1; }
  .single-form:before, .single-form:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .single-form:after {
    clear: both; }
  .single-form .buttons {
    float: left;
    width: 20%; }
    .single-form .buttons select {
      float: left;
      width: 75%;
      margin: 0; }
    .single-form .buttons .help-btn {
      float: right;
      width: 20%; }
  .single-form .inputs {
    float: right;
    width: 78%;
    zoom: 1; }
    .single-form .inputs:before, .single-form .inputs:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .single-form .inputs:after {
      clear: both; }
    .single-form .inputs input[type='text'] {
      float: left;
      width: 78%;
      height: 35px;
      border: 0;
      background-color: #ebebeb;
      padding: 0 8px;
      margin: 0; }
    .single-form .inputs button {
      float: right;
      width: 20%;
      height: 35px; }

.post-filters {
  margin-bottom: 20px; }
  .post-filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1;
    padding: 10px 0px; }
    .post-filters ul:before, .post-filters ul:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .post-filters ul:after {
      clear: both; }
    .post-filters ul li {
      float: right;
      width: 48%; }
      .post-filters ul li:first-child {
        float: left; }
      .post-filters ul li .dropdown-toggle {
        display: block;
        position: relative;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0));
        background: -webkit-linear-gradient(#ffffff, #e0e0e0);
        background: -o-linear-gradient(#ffffff, #e0e0e0);
        background: linear-gradient(#ffffff, #e0e0e0);
        -webkit-border-radius: 3px;
                border-radius: 3px;
        border: 1px solid #d1d1d1;
        padding: 6px 8px;
        color: #000000; }
        .post-filters ul li .dropdown-toggle:hover {
          text-decoration: none; }
        .post-filters ul li .dropdown-toggle em {
          font-style: normal;
          font-weight: bold; }
        .post-filters ul li .dropdown-toggle span {
          float: right;
          margin-top: 8px; }
      .post-filters ul li ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .post-filters ul li ul li {
          float: none;
          width: 100%;
          border: 0;
          border-top: 1px solid #ebebeb; }
          .post-filters ul li ul li:first-child {
            float: none; }
          .post-filters ul li ul li a {
            display: block;
            padding: 4px; }

.admin-posts h3 {
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 20px; }
  .admin-posts h3 em {
    font-style: normal;
    color: #4d4d4d;
    font-size: 15px; }
.admin-posts ul.postfeed, .admin-posts ul.trash {
  list-style-type: none;
  margin: 0;
  padding: 0;
  zoom: 1;
  border-top: 0; }
  .admin-posts ul.postfeed:before, .admin-posts ul.postfeed:after, .admin-posts ul.trash:before, .admin-posts ul.trash:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .admin-posts ul.postfeed:after, .admin-posts ul.trash:after {
    clear: both; }
  .admin-posts ul.postfeed li, .admin-posts ul.trash li {
    padding: 15px 0px; }
    .admin-posts ul.postfeed li .ban-user, .admin-posts ul.trash li .ban-user {
      color: #ca171e; }
    .admin-posts ul.postfeed li:first-child, .admin-posts ul.trash li:first-child {
      border: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding-top: 10px; }
    .admin-posts ul.postfeed li .content, .admin-posts ul.trash li .content {
      -webkit-border-radius: 3px;
              border-radius: 3px;
      padding: 30px 20px 20px 20px;
      background-color: #ffffff;
      zoom: 1;
      border: 1px solid #e6e6e6; }
      .admin-posts ul.postfeed li .content:before, .admin-posts ul.postfeed li .content:after, .admin-posts ul.trash li .content:before, .admin-posts ul.trash li .content:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */ }
      .admin-posts ul.postfeed li .content:after, .admin-posts ul.trash li .content:after {
        clear: both; }
    .admin-posts ul.postfeed li.approved .content, .admin-posts ul.trash li.approved .content {
      -webkit-box-shadow: inset 0px 0px 0px 6px #00a950;
              box-shadow: inset 0px 0px 0px 6px #00a950; }
    .admin-posts ul.postfeed li .avatar, .admin-posts ul.trash li .avatar {
      float: left;
      width: 10%; }
      .admin-posts ul.postfeed li .avatar img, .admin-posts ul.trash li .avatar img {
        max-width: 60px; }
    .admin-posts ul.postfeed li .main, .admin-posts ul.trash li .main {
      float: right;
      width: 89%; }
    .admin-posts ul.postfeed li .date, .admin-posts ul.trash li .date {
      display: block;
      color: #808080; }
    .admin-posts ul.postfeed li p, .admin-posts ul.trash li p {
      font-size: 16px;
      line-height: 24px;
      overflow-x: hidden; }
    .admin-posts ul.postfeed li .image, .admin-posts ul.trash li .image {
      background-color: #ebebeb;
      padding: 10px;
      clear: both;
      text-align: center;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .admin-posts ul.postfeed li .image img, .admin-posts ul.trash li .image img {
        max-width: 100%; }
    .admin-posts ul.postfeed li video, .admin-posts ul.trash li video {
      width: 100%; }
  .admin-posts ul.postfeed .info, .admin-posts ul.trash .info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-bottom: 10px;
    background-color: #ebebeb;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-left: 10px;
    border: 0; }
    .admin-posts ul.postfeed .info li, .admin-posts ul.trash .info li {
      float: left;
      padding: 5px;
      text-align: center;
      border: 1px solid #e0e0e0; }
      .admin-posts ul.postfeed .info li i, .admin-posts ul.trash .info li i {
        position: relative;
        top: 3px;
        font-size: 18px;
        color: #999999; }
      .admin-posts ul.postfeed .info li a:hover, .admin-posts ul.trash .info li a:hover {
        text-decoration: none; }
        .admin-posts ul.postfeed .info li a:hover i, .admin-posts ul.trash .info li a:hover i {
          color: #00702c; }
      .admin-posts ul.postfeed .info li:first-child, .admin-posts ul.trash .info li:first-child {
        -webkit-border-radius: 3px 0px 0px 3px;
                border-radius: 3px 0px 0px 3px; }
      .admin-posts ul.postfeed .info li:last-child, .admin-posts ul.trash .info li:last-child {
        -webkit-border-radius: 0px 3px 3px 0px;
                border-radius: 0px 3px 3px 0px; }
      .admin-posts ul.postfeed .info li.like-count, .admin-posts ul.trash .info li.like-count {
        -webkit-border-radius: 3px;
                border-radius: 3px; }

.fb-caption {
  background-color: #ebebeb;
  zoom: 1;
  padding: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .fb-caption:before, .fb-caption:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .fb-caption:after {
    clear: both; }
  .fb-caption .caption-text {
    float: right;
    width: 77%;
    font-size: 15px; }
  .fb-caption img {
    float: left;
    width: 20%; }
  .fb-caption span {
    color: #808080; }

.admin-posts .status {
  clear: both; }
  .admin-posts .status ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding-top: 20px;
    zoom: 1; }
    .admin-posts .status ul:before, .admin-posts .status ul:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .admin-posts .status ul:after {
      clear: both; }
    .admin-posts .status ul li {
      border: 0;
      float: left;
      width: 50%;
      padding: 0;
      text-align: center; }
      .admin-posts .status ul li a {
        display: block;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        background-color: #00a950;
        -webkit-border-radius: 0px 3px 3px 0px;
                border-radius: 0px 3px 3px 0px;
        position: relative;
        -webkit-transition: all 200ms ease;
             -o-transition: all 200ms ease;
                transition: all 200ms ease; }
        .admin-posts .status ul li a.disabled {
          opacity: 0.5;
          cursor: not-allowed; }
          .admin-posts .status ul li a.disabled:hover {
            background-color: #00a950; }
        .admin-posts .status ul li a:hover {
          text-decoration: none;
          background-color: #007637;
          -webkit-transition: all 200ms ease;
               -o-transition: all 200ms ease;
                  transition: all 200ms ease; }
        .admin-posts .status ul li a i {
          position: absolute;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2);
          display: block;
          width: 40px;
          line-height: 40px; }
      .admin-posts .status ul li:first-child {
        padding: 0; }
        .admin-posts .status ul li:first-child a {
          background-color: #ca171e;
          -webkit-border-radius: 3px 0px 0px 3px;
                  border-radius: 3px 0px 0px 3px; }
          .admin-posts .status ul li:first-child a:hover {
            background-color: #9c1219; }
          .admin-posts .status ul li:first-child a i {
            left: 0; }

.status-approved {
  clear: both;
  text-align: center;
  padding-top: 15px; }
  .status-approved p {
    background-color: #00a950;
    color: #ffffff;
    padding: 8px 0;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .status-approved a {
    color: #ca171e; }

.loading-infinite {
  text-align: center;
  padding-top: 10px; }
  .loading-infinite img {
    width: auto; }

.admin-posts .pagination {
  width: 100%;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  text-align: center;
  padding-bottom: 20px; }
  .admin-posts .pagination li {
    display: inline-block;
    padding: 0; }
    .admin-posts .pagination li.active span {
      background-color: #00a950; }
    .admin-posts .pagination li a {
      color: #00a950; }

@media (max-width: 767px) {
  .admin-posts ul li {
    padding: 10px; }
    .admin-posts ul li .content {
      padding: 20px 10px 10px 10px; }
    .admin-posts ul li .avatar {
      width: 15%; }
    .admin-posts ul li .main {
      width: 82%; }
    .admin-posts ul li p {
      font-size: 15px;
      line-height: 20px; }
    .admin-posts ul li .image {
      padding: 3px; }
  .status ul {
    padding: 20px 10px 10px 10px; }
    .status ul li {
      float: none;
      width: 100%;
      padding: 0; }
      .status ul li a {
        -webkit-border-radius: 0;
                border-radius: 0; }
        .status ul li a i {
          left: 0;
          -webkit-border-radius: 0;
                  border-radius: 0; }
      .status ul li:first-child a {
        -webkit-border-radius: 0;
                border-radius: 0; }
  .single-form .buttons {
    float: none;
    width: 100%;
    margin-bottom: 10px; }
  .single-form .inputs {
    clear: both;
    padding-top: 10px;
    float: none;
    width: 100%; }
    .single-form .inputs input[type='text'] {
      float: none;
      width: 100%;
      margin-bottom: 10px; }
    .single-form .inputs button {
      clear: both;
      float: none;
      width: 100%; }
  .post-filters {
    margin-bottom: 20px; }
    .post-filters ul {
      padding: 0px; }
      .post-filters ul li {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        float: none;
        width: 100%;
        padding: 0;
        margin-top: 10px; }
        .post-filters ul li:first-child {
          float: none; }
        .post-filters ul li ul {
          left: 10px;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          width: 90%; }
          .post-filters ul li ul li {
            margin: 0; } }

#trash-loading {
  margin-top: -6px;
  display: none; }
  #trash-loading img {
    width: auto; }

.admin-posts.trash ul li {
  padding: 0px 20px 20px 20px; }
  .admin-posts.trash ul li:first-child {
    padding-top: 20px; }
  .admin-posts.trash ul li p {
    max-height: 100px;
    overflow: hidden; }
  .admin-posts.trash ul li .content {
    padding: 20px 10px 10px 10px; }
  .admin-posts.trash ul li p {
    float: left;
    width: 70%;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden; }
  .admin-posts.trash ul li .image {
    float: right;
    width: 24%;
    background-color: #ebebeb;
    padding: 3px;
    clear: none; }
.admin-posts.trash .status ul {
  padding: 10px; }
  .admin-posts.trash .status ul li {
    padding: 0; }

.banned-users {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }
  .banned-users li {
    padding: 8px;
    font-size: 16px;
    zoom: 1; }
    .banned-users li:before, .banned-users li:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .banned-users li:after {
      clear: both; }
    .banned-users li:nth-child(even) {
      background-color: #ebebeb; }
    .banned-users li i {
      color: #00702c;
      font-size: 22px;
      position: relative;
      top: 5px;
      margin-right: 10px; }
    .banned-users li .screenname {
      color: #00702c; }

.image-thumb {
  position: relative;
  width: 100px;
  float: left; }
  .image-thumb img {
    float: none !important;
    width: auto !important;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 1px solid #e0e0e0; }
  .image-thumb button {
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    right: -15px;
    top: -10px;
    cursor: pointer;
    font-size: 18px;
    color: #808080; }

.image-name {
  float: left;
  clear: none;
  margin-left: 10px;
  padding-top: 24px; }
  .image-name.bottom {
    float: none;
    margin: 0;
    padding: 0;
    clear: both; }

.products {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0; }
  .products textarea {
    height: 80px; }
  .products label {
    font-weight: bold; }
  .products .half {
    float: left;
    clear: both;
    width: 46%; }
    .products .half.right {
      float: right;
      clear: none; }
  .products .flavor {
    background-color: #ffffff; }
    .products .flavor section {
      display: none;
      padding: 15px;
      zoom: 1; }
      .products .flavor section:before, .products .flavor section:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */ }
      .products .flavor section:after {
        clear: both; }
      .products .flavor section .image {
        float: left;
        width: 20%; }
      .products .flavor section .product-fields {
        float: right;
        width: 77%;
        margin-top: -10px; }
    .products .flavor h4 {
      cursor: pointer;
      padding: 0px 5px;
      height: 35px;
      line-height: 35px; }
      .products .flavor h4 span {
        font-weight: normal;
        float: left;
        display: block;
        margin-left: -5px;
        width: 35px;
        height: 35px;
        text-align: center;
        margin-right: 10px;
        cursor: move; }
      .products .flavor h4 i {
        float: right;
        margin-top: 15px; }
  .products .size {
    zoom: 1; }
    .products .size:before, .products .size:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .products .size:after {
      clear: both; }
    .products .size select {
      float: left;
      width: 80%; }
    .products .size .btn, .products .size .dz-message p span, .dz-message p .products .size span {
      float: right;
      width: 15%;
      text-align: center; }

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }
  .product-list li {
    zoom: 1;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 3px solid #ebebeb; }
    .product-list li:before, .product-list li:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .product-list li:after {
      clear: both; }
    .product-list li img {
      float: left;
      width: 20%; }
    .product-list li section {
      float: right;
      width: 75%; }
    .product-list li ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin: -10px 0px 20px 0px; }
      .product-list li ul li {
        border: 0;
        margin: 5px 0 0 0;
        padding: 0;
        position: relative;
        padding-left: 20px; }
        .product-list li ul li:first-child {
          margin-top: 0;
          padding-left: 20px; }
        .product-list li ul li:before {
          position: absolute;
          left: 0;
          top: 0;
          font-family: 'icomoon';
          content: '\e607';
          color: #00a950;
          font-size: 15px; }
    .product-list li:first-child {
      margin: 0;
      padding: 0;
      border: 0; }

.sizes {
  margin-bottom: 20px; }
  .sizes td.buttons {
    width: 130px; }

.add-size-form {
  display: none;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px; }

.flavor-fields {
  zoom: 1;
  margin-bottom: 20px; }
  .flavor-fields:before, .flavor-fields:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .flavor-fields:after {
    clear: both; }
  .flavor-fields img {
    float: left;
    width: 20%; }
  .flavor-fields label {
    font-weight: bold; }
  .flavor-fields .fields {
    margin-top: -10px;
    float: right;
    width: 78%; }

.flavor-save {
  margin-top: 20px;
  text-align: center; }
  .flavor-save .btn, .flavor-save .dz-message p span, .dz-message p .flavor-save span {
    width: 60%; }

.sizes-table {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0; }
  .sizes-table li {
    zoom: 1;
    padding: 8px 10px;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0; }
    .sizes-table li:before, .sizes-table li:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .sizes-table li:after {
      clear: both; }
    .sizes-table li .translations {
      display: none; }
    .sizes-table li strong {
      float: left;
      margin-top: 8px; }
    .sizes-table li em {
      font-style: normal;
      font-weight: bold; }
    .sizes-table li p {
      line-height: 24px; }
    .sizes-table li .buttons {
      float: right; }
    .sizes-table li:nth-child(even) {
      background-color: #f0f0f0; }
    .sizes-table li .translations {
      clear: both; }
    .sizes-table li:first-child {
      border: 0; }

.redactor-editor {
  background-color: #005c23;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
  font-size: 16px; }
  .redactor-editor h1, .redactor-editor h2, .redactor-editor h3, .redactor-editor h4, .redactor-editor h5, .redactor-editor h6 {
    font-weight: bold; }
  .redactor-editor h1 {
    font-size: 36px;
    line-height: 38px;
    margin: 0px 0px 10px 0px; }
  .redactor-editor h2 {
    font-size: 28px;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
    color: #fff200; }
  .redactor-editor h3 {
    font-size: 24px;
    line-height: 26px;
    margin: 0px 0px 8px 0px;
    color: #fff200; }
  .redactor-editor h4 {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #fff200;
    padding-top: 10px;
    border: 0; }
  .redactor-editor p {
    margin: 0px 0px 20px 0px;
    clear: none; }
  .redactor-editor a {
    color: #fff200;
    text-decoration: none;
    -webkit-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease; }
    .redactor-editor a:hover, .redactor-editor a:focus {
      color: #998f00;
      text-decoration: none;
      -webkit-transition: all 200ms ease;
           -o-transition: all 200ms ease;
              transition: all 200ms ease; }
  .redactor-editor strong {
    font-weight: bold; }
  .redactor-editor hr {
    height: 5px;
    border: 0;
    background-color: #00a950;
    margin: 20px 0; }
  .redactor-editor .alignright {
    float: right;
    width: 30%;
    margin: 0 0 20px 20px; }
  .redactor-editor .alignleft {
    float: left;
    width: 30%;
    margin: 0 20px 20px 0; }

.redactor-toolbar {
  -webkit-box-shadow: none;
          box-shadow: none; }
  .redactor-toolbar li {
    border: 0;
    background-color: #ffffff; }
    .redactor-toolbar li:nth-child(odd) {
      background-color: #ffffff; }

.re-media-library:before {
  content: "\e60f"; }
