//
// Alerts
// --------------------------------------------------
.alert {
	.btn {
		margin-left: 10px;
		float: left;
		margin-top: -7px;
	}
}
@media (max-width: 767px)
{
	.alert {
		@include clearfix();
		.pull-right {
			float: none !important;
			text-align: center;
		}
		.btn {
			float: none;
			display: inline-block;
			margin: 0;
		}
	}
}