//
// Forms
// --------------------------------------------------
.form-group.half {
	float: left;
	width: 48%;
	&.right {
		float: right;
		clear: none;
	}
}
.form-group {
	clear: both;
}

label {
	display: block;
	margin-bottom: 3px;
	font-weight: bold;
	color: darken($white, 70%);
	font-size: 15px;
}
select {
	width: 100%;
	height: 35px;
	margin-bottom: 15px;
}

input[type='text'],
input[type='password'],
input[type='email']{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	height: 35px;
	font-size: 16px;
	box-shadow: none;
	border-radius: 3px;
	border: 1px solid darken($white, 15%);
	padding: 0px 8px;
	&:focus {
		outline: none;
	}
	&.readonly {
		background-color: rgba(0,0,0,.08);
		cursor: not-allowed;
	}
}

input[type='submit']{
	border: 0;
	background-color: $info-text;
	font-size: 16px;
	color: $white;
	border-radius: 3px;
	&.btn-danger {
		background-color: #8c3837;
		margin-top: 20px;
	}
}

textarea {
	width: 100%;
	border: 1px solid darken($white, 15%);
	font-size: 15px;
	padding: 8px;
	box-sizing: border-box;
	resize: none;
	&:focus {
		outline: none;
	}
}

select {
	-webkit-appearance: none;
	padding: 0 8px;
	background: url('../../images/select-arrow.png') darken($white, 12%);
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid darken($white, 15%);
	font-size: 15px;
	border-radius: 3px;
	&:focus {
		outline: none;
	}
}


form {
	.well {
		box-shadow: none;
		border: 1px solid darken($white, 12%);
		background-color: $white;
		padding: 15px;
		@include clearfix;
		padding-bottom: 0;
	}
	p {
		clear: both;
	}
	p.half {
		float: left;
		width: 48%;
		&.right {
			float: right;
			clear: none;
		}
	}
	p.third {
		float: left;
		width: 30%;
		margin-right: 5%;
		clear: none;
		&.last {
			float: right;
			margin-right: 0;
		}
	}
	.slug {
		position: relative;
		padding: 5px;
		margin-top: -15px;
		background-color: darken($white, 6%);
		border-radius: 4px;
		label {
			display: inline-block;
			margin-right: 5px;
			font-weight: bold;
		}
		em {
			font-style: normal;
			font-weight: bold;
		}
		p {
			display: inline;
			cursor: pointer;
		}
		input[type='text']{
			display: none;
			height: 24px;
			font-size: 15px;
			width: 150px;
			margin: 0;
		}
		button {
			display: none;
			font-size: 14px;
			height: 26px;
			line-height: 24px;
		}
	} // .slug
} // form


// SEO preview Area
.seo-preview {
	margin: 15px 0px 0px 0px;
	border: 1px solid darken($white, 8%);
	padding: 10px;
	font-family: arial, sans-serif;
	h4 {
		font-weight: normal;
		color: #1a0dab;
		font-size: 18px;
	}
	p {
		margin: 0;
		color: #222;
		font-size: 15px;
		line-height: 1.4em;
	}
	em {
		display: block;
		color: #006621;
		font-weight: normal;
		font-style: normal;
	}
}


// Custom Fields - New field
.newfield {
	background-color: $white;
	border: 1px solid darken($white, 12%);
	padding: 8px;
	margin-bottom: 20px;
}

// Existing custom fields
.customfields-existing {
	@include unstyled;
	margin-bottom: 20px;
	h4 {
		padding: 8px;
		cursor: pointer;
		i {
			float: right;
			margin-top: 8px;
		}
	}
	li {
		background-color: $white;
		border-top: 1px solid darken($white, 12%);
		&:first-child {
			border: 0;
		}
		&:nth-child(odd){
			background-color: darken($white, 8%);
		}
		.redactor_toolbar li:nth-child(odd) {
			background-color: inherit;
		}
		section {
			display: none;
			padding: 10px;
			@include clearfix;
		}
	}
	.btn-danger {
		font-size: 14px;
		padding: 4px 10px;
		height: auto;
		line-height: 20px;
		float: right;
	}
}



