//
// Navbar
// --------------------------------------------------
.navbar-inverse {
	background-color: darken($green-dark, 8%);
	background: linear-gradient($green-dark, darken($green-dark, 5%));
	color: $white;
	border: 0;
	border-radius: 0;
	.navbar-nav li {
		a {
			color: $white;
		}
		ul li a {
			color: $black;
		}
	}
	.navbar-brand {
		color: $green;
		img {
			width: auto;
			max-height: 30px;
			position: relative;
			top: -5px;
		}
	}
}
.navclear {
	display: block;
	height: 60px;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: $lime;
}