//
// Navbar
// --------------------------------------------------
.navbar {
	position: fixed;
	width: 100%;
	z-index: 990;
	top: 0;
	left: 0;
	background-color: darken($green-dark, 8%);
	background: linear-gradient($green-dark, darken($green-dark, 5%));
	color: $white;
	border: 0;
	border-radius: 0;
	padding: 10px;
	@include clearfix;
	ul.nav {
		padding-top: 20px;
		float: left;
		@include unstyled;
		@include clearfix;
		margin: 6px 0px 0px 0px;
		li {
			float: left;
			margin-right: 20px;
			a {
				color: $white;
			}
			ul li {
				float: none;
				margin: 0;
				a {
					color: $black;
				}
			}
		}
	}
	ul.navbar-right {
		float: right;
		.dropdown-menu {
			right: 0;
			left: auto;
		}
	}
	.logo {
		float: left;
		margin-right: 30px;
		color: $green;
		img {
			width: auto;
			max-height: 30px;
			position: relative;
		}
	}
}


.navclear {
	display: block;
	height: 60px;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: $lime;
}