//
// Page Head
// --------------------------------------------------
.page-head {
	background-color: darken($white, 10%);
	border-bottom: 1px solid darken($white, 15%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .75);
	padding: 15px 0;
	&.margin {
		margin-bottom: 20px;
	}
	h1 {
		margin: 0;
		font-size: 26px;
		.pull-right {
			margin: 0;
		}
		i {
			color: darken($white, 50%);
			position: relative;
			top: 2px;
			font-size: 26px;
		}
	}
	.pull-right {
		margin-top: 5px;
	}
	select {
		float: right;
		width: 50%;
		max-width: 200px;
		margin-top: -35px;
		background-color: darken($white, 20%);
		border: 0;
	}
}

@media (max-width: 767px)
{
	.page-head {
		padding: 10px 20px;
		.container {
			padding: 0;
		}
		select {
			float: none;
			width: 100%;
			max-width: none;
			margin-top: 5px;
		}
		.pull-right {
			float: none;
			display: block;
		}
	}
}