//
// Search form for social feeds
// --------------------------------------------------
.searchterm {
	background-color: darken($white, 15%);
	border-radius: 3px;
	padding: 8px;
	margin-bottom: 30px;
	@include clearfix();
	ul {
		float: left;
		width: 80%;
		@include unstyled();
		@include clearfix();
		li {
			position: relative;
			box-sizing: border-box;
			border-radius: 2px;
			float: left;
			width: 49%;
			font-size: 18px;
			&:nth-child(even){
				float: right;
			}
			label {
				position: absolute;
				color: $info-text;
				font-size: 20px;
				top: 9px;
				left: 13px;
			}
		}
	}
	.btn {
		float: right;
		width: 18%;
		font-size: 18px;
		height: 40px;
		line-height: 40px;
		padding: 0;
	}
	input[type='text']{
		height: 40px;
		width: 100%;
		box-sizing: border-box;
		padding-left: 40px;
		margin: 0;
		&:focus {
			outline: none;
		}
	}
}

@media (max-width: 767px)
{
	.searchterm {
		ul {
			float: none;
			width: 100%;
			li {
				float: none;
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.btn {
			float: none;
			width: 100%;
		}
	}
}