//
// Post Feed in Admin
// --------------------------------------------------

// Alert area for imports
.import-buttons{
	#import-loading {
		display: none;
		img {
			float: left;
			width: auto;
		}
	}
}


// Single Import Form
.single-form {
	display: none;
	background-color: $white;
	margin-bottom: 20px;
	padding: 8px;
	border-radius: 3px;
	@include clearfix();
	.buttons {
		float: left;
		width: 20%;
		select {
			float: left;
			width: 75%;
			height: 35px;
			margin: 0;
			-webkit-appearance: menulist-button;
		}
		.help-btn {
			float: right;
			width: 20%;
		}
	}
	.inputs {
		float: right;
		width: 78%;
		@include clearfix();
		input[type='text']{
			float: left;
			width: 78%;
			height: 35px;
			border: 0;
			background-color: darken($white, 8%);
			padding: 0 8px;
			margin: 0;
		}
		button {
			float: right;
			width: 20%;
			height: 35px;
		}
	}
} // .single-form


// Filter Menus
.post-filters {
	//background-color: darken($white, 8%);
	margin-bottom: 20px;
	ul {
		@include unstyled();
		@include clearfix();
		padding: 10px 20px;
		li {
			float: right;
			width: 48%;
			&:first-child {
				float: left;
			}
			.dropdown-toggle {
				display: block;
				position: relative;
				background: linear-gradient($white, darken($white, 12%));
				border-radius: 3px;
				border: 1px solid darken($white, 18%);
				padding: 6px 8px;
				color: $black;
				&:hover {
					text-decoration: none;
				}
				em {
					font-style: normal;
					font-weight: bold;
				}
				span {
					float: right;
					margin-top: 8px;
				}
			}
			ul {
				width: 100%;
				@include unstyled;
				li {
					float: none;
					width: 100%;
					border: 0;
					border-top: 1px solid darken($white, 8%);
					&:first-child {
						float: none;
					}
					a {
						display: block;
						padding: 4px;
					}
				}
			}
		}
	} //u l
} // .post-filters

// Listing of posts with save/remove buttons
.admin-posts {
	h3 {
		//background-color: darken($white, 8%);
		text-align: center;
		margin: 0;
		padding: 10px 0 0 0;
		font-size: 20px;
		em {
			font-style: normal;
			color: darken($white, 70%);
			font-size: 15px;
		}
	}
	ul.postfeed, ul.trash {
		@include unstyled();
		background-color: darken($white, 8%);
		border-top: 0;
		li {
			.ban-user {
				color: $red;
			}
			padding: 30px;
			&:first-child {
				border: 0;
				box-shadow: none;
				padding-top: 10px;
			}
			.content {
				border-radius: 4px;
				padding: 30px 20px 20px 20px;
				background-color: $white;
				@include clearfix();
				box-shadow: 0px 0px 3px 0px rgba(0,0,0,.15);
			}
			&.approved .content {
				box-shadow: inset 0px 0px 0px 6px $green;
			}
			.avatar {
				float: left;
				width: 10%;
				img {
					max-width: 60px;
				}
			}
			.main {
				float: right;
				width: 89%;
			}
			.date {
				display: block;
				color: darken($white, 50%);
			}
			p {
				font-size: 16px;
				line-height: 24px;
				overflow-x: hidden;
			}
			.image {
				background-color: darken($white, 8%);
				padding: 10px;
				clear: both;
				text-align: center;
				border-radius: 3px;
				img {
					max-width: 100%;
				}
			}
			video {
				width: 100%;
			}
		} // li
		.info {
			@include unstyled();
			float: right;
			margin-bottom: 10px;
			background-color: darken($white, 8%);
			border-radius: 3px;
			margin-left: 10px;
			border: 0;
			li {
				float: left;
				padding: 5px;
				text-align: center;
				border: 1px solid darken($white, 12%);
				i {
					position: relative;
					top: 3px;
					font-size: 18px;
					color: darken($white, 40%);
				}
				a:hover {
					text-decoration: none;
					i {
						color: $green-dark;
					}
				}
				&:first-child {
					border-radius: 3px 0px 0px 3px;
				}
				&:last-child {
					border-radius: 0px 3px 3px 0px;
				}
				&.like-count {
					border-radius: 3px;	
				}
			}
		}
	} // ul
} // .admin-posts

// Facebook Captions
.fb-caption {
	background-color: darken($white, 8%);
	@include clearfix;
	padding: 15px;
	border-radius: 3px;
	.caption-text {
		float: right;
		width: 77%;
		font-size: 15px;
	}
	img {
		float: left;
		width: 20%;
	}
	span {
		color: darken($white, 50%);
	}
}


// Status Switch
.admin-posts .status {
	clear: both;
	ul {
		@include unstyled();
		background-color: $white;
		border: 0;
		border-radius: 3px;
		padding-top: 20px;
		@include clearfix();
		li {
			border: 0;
			float: left;
			width: 50%;
			padding: 0;
			text-align: center;
			a {
				display: block;
				height: 40px;
				line-height: 40px;
				color: $white;
				background-color: $green;
				border-radius: 0px 3px 3px 0px;
				position: relative;
				transition: all 200ms ease;
				&.disabled {
					opacity: .5;
					cursor: not-allowed;
					&:hover {
						background-color: $green;
					}
				}
				&:hover {
					text-decoration: none;
					background-color: darken($green, 10%);
					transition: all 200ms ease;
				}
				i {
					position: absolute;
					right: 0;
					background-color: rgba(0,0,0,.2);
					display: block;
					width: 40px;
					line-height: 40px;
				}
			}
			&:first-child {
				padding: 0;
				a {
					background-color: $red;
					border-radius: 3px 0px 0px 3px;
					&:hover {
						background-color: darken($red, 10%);
					}
					i {
						left: 0;
					}
				}
			} // a
		} // li
	} // ul
} // status


// Approved Posts
.status-approved {
	clear: both;
	text-align: center;
	padding-top: 15px;
	p {
		background-color: $green;
		color: $white;
		padding: 8px 0;
		border-radius: 3px;
	}
	a {
		color: $red;
	}
}


// Infinite Scrolling Loading Indicator
.loading-infinite {
	text-align: center;
	padding-top: 10px;
	img {
		width: auto;
	}
}


// Pagination
.admin-posts .pagination {
	width: 100%;
	border-radius: 0 0 4px 4px;
	text-align: center;
	padding-bottom: 20px;
	li {
		display: inline-block;
		padding: 0;
		&.active span {
			background-color: $green;
		}
		a {
			color: $green;
		}
	}
}

@media (max-width: 767px)
{
	.admin-posts ul li {
		padding: 10px;
		.content {
			padding: 20px 10px 10px 10px;
		}
		.avatar {
			width: 15%;
		}
		.main {
			width: 82%;
		}
		p {
			font-size: 15px;
			line-height: 20px;
		}
		.image {
			padding: 3px;
		}
	} // .admin-posts

	.status ul {
		padding: 20px 10px 10px 10px;
		li {
			float: none;
			width: 100%;
			padding: 0;
			a {
				border-radius: 0;
				i {
					left: 0;
					border-radius: 0;
				}
			}
			&:first-child a {
				border-radius: 0;
			} // a
		} // li
	} // status
}
