//
// Search form for social feeds
// --------------------------------------------------
.social-search-terms {
	background-color: darken($white, 70%);
	border: 1px solid darken($white, 65%);
	color: $white;
	margin-bottom: 15px;
	form {
		display: none;
		padding: 8px;
	}
	ul {
		@include unstyled();
		li {
			position: relative;
			box-sizing: border-box;
			border-radius: 2px;
			margin-bottom: 10px;
			label {
				position: absolute;
				color: $white;
				font-size: 20px;
				top: 7px;
				left: 11px;
			}
		}
	}
	.btn {
		display: block;
		width: 100%;
		font-size: 15px;
		height: 35px;
		line-height: 35px;
		padding: 0;
		border-radius: 0;
		background-color: darken($white, 8%);
		color: $black;
	}
	input[type='text']{
		box-sizing: border-box;
		padding-left: 40px;
		margin: 0;
	}
}

@media (max-width: 767px)
{
	.searchterm {
		ul {
			float: none;
			width: 100%;
			li {
				float: none;
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.btn {
			float: none;
			width: 100%;
		}
	}
}