//
// Post Feed in Admin
// --------------------------------------------------

// Alert area for imports
.import-buttons{
	margin-top: -7px;
	.btn {
		margin-left: 10px;
		float: left;
	}
	#import-loading {
		display: none;
		img {
			float: left;
			width: auto;
		}
	}
}

// Single Import Form
.single-form {
	display: none;
	background-color: $white;
	margin-bottom: 20px;
	padding: 8px;
	border-radius: 3px;
	@include clearfix();
	.btn-group {
		float: left;
		width: 20%;
		.btn {
			width: 50%;
		}
	}
	.inputs {
		float: right;
		width: 78%;
		@include clearfix();
		input[type='text']{
			float: left;
			width: 78%;
			height: 35px;
			border: 0;
			background-color: darken($white, 8%);
			padding: 0 8px;
		}
		button {
			float: right;
			width: 20%;
			height: 35px;
		}
	}
}

// Listing of posts with save/remove buttons
.admin-posts {
	h3 {
		background-color: darken($white, 8%);
		text-align: center;
		margin: 0;
		padding: 10px;
		font-size: 18px;
		border-radius: 2px 2px 0px 0px;
		color: $green-dark;
	}
	ul {
		@include unstyled();
		background-color: darken($white, 8%);
		border-top: 0;
		li {
			padding: 30px;
			&:first-child {
				border: 0;
				box-shadow: none;
			}
			.content {
				border-radius: 4px;
				padding: 30px 20px 20px 20px;
				background-color: $white;
				@include clearfix();
				box-shadow: 0px 0px 3px 0px rgba(0,0,0,.15);
			}
			&.approved .content {
				box-shadow: inset 0px 0px 0px 6px $green;
			}
			.avatar {
				float: left;
				width: 10%;
				img {
					max-width: 60px;
				}
			}
			.main {
				float: right;
				width: 89%;
			}
			.date {
				display: block;
				color: darken($white, 50%);
			}
			p {
				font-size: 16px;
				line-height: 24px;
				overflow-x: hidden;
			}
			.image {
				background-color: darken($white, 8%);
				padding: 10px;
				clear: both;
				text-align: center;
				border-radius: 3px;
				img {
					max-width: 100%;
				}
			}
			video {
				width: 100%;
			}
		} // li
		&.info {
			float: right;
			margin-bottom: 10px;
			background-color: darken($white, 8%);
			border-radius: 3px;
			margin-left: 10px;
			border: 0;
			li {
				float: left;
				padding: 5px;
				text-align: center;
				border: 1px solid darken($white, 12%);
				i {
					position: relative;
					top: 3px;
					font-size: 18px;
					color: darken($white, 40%);
				}
				a:hover {
					text-decoration: none;
					i {
						color: $green-dark;
					}
				}
				&:first-child {
					border-radius: 3px 0px 0px 3px;
				}
				&:last-child {
					border-radius: 0px 3px 3px 0px;
				}
				&.like-count {
					border-radius: 3px;	
				}
			}
		}
	} // ul
}

.status {
			clear: both;
			ul {
				background-color: $white;
				border: 0;
				border-radius: 3px;
				padding: 30px 10px 10px 10px;
				@include clearfix();
				li {
					border: 0;
					float: left;
					width: 50%;
					padding: 0;
					text-align: center;
					a {
						display: block;
						height: 40px;
						line-height: 40px;
						color: $white;
						background-color: $green;
						border-radius: 0px 3px 3px 0px;
						position: relative;
						transition: all 200ms ease;
						&:hover {
							text-decoration: none;
							background-color: darken($green, 10%);
							transition: all 200ms ease;
						}
						i {
							position: absolute;
							right: 0;
							background-color: rgba(0,0,0,.2);
							display: block;
							width: 40px;
							line-height: 40px;
						}
					}
					&:first-child a {
						background-color: $red;
						border-radius: 3px 0px 0px 3px;
						&:hover {
							background-color: darken($red, 10%);
						}
						i {
							left: 0;
						}
					} // a
				} // li
			} // ul
		} // status

// Approved Posts
.status-approved {
	clear: both;
	text-align: center;
	padding-top: 15px;
	p {
		background-color: $green;
		color: $white;
		padding: 8px 0;
		border-radius: 3px;
	}
	a {
		color: $red;
	}
}

// Infinite Scrolling Loading Indicator
.loading-infinite {
	text-align: center;
	padding-top: 10px;
	img {
		width: auto;
	}
}


