//
// Edit Products
// --------------------------------------------------

// List of products for each flavor (edit flavor)
.image-thumb {
	position: relative;
	width: 100px;
	float: left;
	img {
		float: none !important;
		width: auto !important;
		border-radius: 4px;
		border: 1px solid darken($white, 12%);
	}
	button {
		position: absolute;
		width: 30px;
		height: 30px;
		border-radius: 20px;
		background-color: $white;
		border: 1px solid darken($white, 15%);
		right: -15px;
		top: -10px;
		cursor: pointer;
		font-size: 18px;
		color: darken($white, 50%);
	}
}
.image-name {
	float: left;
	clear: none;
	margin-left: 10px;
	padding-top: 24px;
	&.bottom {
		float: none;
		margin: 0;
		padding: 0;
		clear: both;
	}
}

.products {
	@include unstyled();
	margin-bottom: 10px;
	border: 1px solid darken($white, 12%);
	textarea {
		height: 80px;
	}
	label {
		font-weight: bold;
	}
	.half {
		float: left;
		clear: both;
		width: 46%;
		&.right {
			float: right;
			clear: none;
		}
	}
	.flavor {
		background-color: $white;
		section {
			display: none;
			padding: 15px;
			@include clearfix;
			.image {
				float: left;
				width: 20%;
			}
			.product-fields {
				float: right;
				width: 77%;
				margin-top: -10px;
			}
		}
		h4 {
			cursor: pointer;
			padding: 0px 5px;
			height: 35px;
			line-height: 35px;
			span {
				font-weight: normal;
				float: left;
				display: block;
				margin-left: -5px;
				width: 35px;
				height: 35px;
				text-align: center;
				margin-right: 10px;
				cursor: move;
			}
			i {
				float: right;
				margin-top: 15px;
			}
		}
	}
	.size {
		@include clearfix;
		select {
			float: left;
			width: 80%;
		}
		.btn {
			float: right;
			width: 15%;
			text-align: center;
		}
	}
}


// List of all flavors (main product listing)
.product-list {
	@include unstyled;
	margin-bottom: 20px;
	li {
		@include clearfix;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 3px solid darken($white, 8%);
		img {
			float: left;
			width: 20%;
		}
		section  {
			float: right;
			width: 75%;
		}
		ul {
			@include unstyled;
			margin: -10px 0px 20px 0px;
			li {
				border: 0;
				margin: 5px 0 0 0;
				padding: 0;
				position: relative;
				padding-left: 20px;
				&:first-child {
					margin-top: 0;
					padding-left: 20px;
				}
				&:before {
					position: absolute;
					left: 0;
					top: 0;
					font-family: 'icomoonadmin';
					content: '\e616';
					color: $green;
					font-size: 15px;
				}
			}
		} // ul 2
		&:first-child {
			margin: 0;
			padding: 0;
			border: 0;
		}
	} // li 1
} // .product-list


// Sizes table
.sizes {
	margin-bottom: 20px;
	td.buttons {
		width: 130px;
	}
}

// Form for adding new size
.add-size-form {
	display: none;
	background-color: darken($white, 6%);
	padding: 10px;
	margin-bottom: 20px;
} // .add-size-form


// Edit flavor – primary fields
.flavor-fields {
	@include clearfix;
	margin-bottom: 20px;
	img {
		float: left;
		width: 20%;
	}
	label {
		font-weight: bold;
	}
	.fields {
		margin-top: -10px;
		float: right;
		width: 78%;
	}
}
.flavor-save {
	margin-top: 20px;
	text-align: center;
	.btn {
		width: 60%;
	}
}

// Product sizes
.sizes-table {
	@include unstyled;
	margin-bottom: 20px;
	border: 1px solid darken($white, 12%);
	li {
		@include clearfix;
		padding: 8px 10px;
		background-color: $white;
		border-top: 1px solid darken($white, 12%);
		.translations {
			display: none;
		}
		strong {
			float: left;
			margin-top: 8px;
		}
		em {
			font-style: normal;
			font-weight: bold;
		}
		p {
			line-height: 24px;
		}
		.buttons {
			float: right;
		}
		&:nth-child(even){
			background-color: darken($white, 6%);
		}
		.translations {
			clear: both;
		}
		&:first-child {
			border: 0;
		}
	}
}


