//
// Edit Products
// --------------------------------------------------
.products {
	margin-bottom: 30px;
	textarea {
		height: 80px;
	}
	.flavor {
		border: 1px solid darken($white, 8%);
		section {
			display: none;
			padding: 15px;
		}
		h4 {
			cursor: pointer;
			padding: 8px 5px;
		}
		&:nth-child(even){
			background-color: darken($white, 7%);
		}
	}
	.size {
		@include clearfix;
		select {
			float: left;
			width: 80%;
			height: 35px;
			-webkit-appearance: menulist-button;
		}
		.btn {
			float: right;
			width: 15%;
			text-align: center;
		}
	}
}