//
// Primary Scaffolding
// --------------------------------------------------
html {
	height: 100%;
}
body {
	background-color: darken($white, 6%);
	height: 100%;
	@include proxima;
	font-size: 16px;
	margin: 0;
}
a {
	color: $info-text;
	text-decoration: none;
	transition: all 200ms ease;
	&:hover {
		color: darken($info-text, 20%);
		transition: all 200ms ease;
	}
}
.pagewrap {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 40px;
}
.container {
	margin: 0 auto;
	max-width: 850px;
}
img {
	max-width: 100%;
}