//
// Primary Scaffolding
// --------------------------------------------------
html {
	height: 100%;
}
body {
	background-color: darken($white, 6%);
	height: 100%;
	@include proxima;
	font-size: 16px;
	margin: 0;
}
a {
	color: $info-text;
	text-decoration: none;
	transition: all 200ms ease;
	&:hover {
		color: darken($info-text, 20%);
		transition: all 200ms ease;
	}
}
.pagewrap {
	box-sizing: border-box;
	min-height: 100%;
	//background: url('../../images/pattern-type-gray.png');
}
.clearfix {
	@include clearfix;
}

.container {
	margin: 0 auto;
}
.container.small {
	max-width: 850px;
}

img {
	max-width: 100%;
}

.pull-right {
	float: right;
}
.sr-only {
	display: none;
}

.well {
	background: transparent;
	//box-shadow: 0px 0px 2px 0px rgba(0,0,0,.15);
	margin-bottom: 20px;
	hr {
		height: 3px;
		background-color: darken($white, 15%);
		clear: both;
	}
	h4 {
		margin: 0;
	}
}

.page-head {
	background-color: darken($white, 10%);
	border-bottom: 1px solid darken($white, 15%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .75);
	padding: 20px 0;
	&.margin {
		margin-bottom: 20px;
	}
	h1 {
		margin: 0;
	}
	select {
		float: right;
		width: 50%;
		max-width: 200px;
		margin-top: -35px;
		background-color: darken($white, 20%);
		border: 0;
	}
}

h1 {
	color: darken($white, 70%);
	font-size: 30px;
	font-weight:bold;
	-webkit-font-smoothing: antialiased;
	.btn {
		@include proxima;
	}
	span {
		font-size: 16px;
		font-weight: normal;
		margin-top: 15px;
		.btn {
			margin-top: -20px;
		}
	}
}

.modal-body {
	max-height: 300px;
	overflow: auto;
}