//
// Primary Scaffolding
// --------------------------------------------------
html {
	height: 100%;
}
body {
	background-color: #009e39;
	height: 100%;
	@include proxima;
	font-size: 16px;
}
a {
	color: $green;
	text-decoration: none;
	transition: all 200ms ease;
	&:hover {
		color: $green-dark;
		transition: all 200ms ease;
	}
}
.pagewrap {
	box-sizing: border-box;
	min-height: 100%;
	background: url('../images/ray-bg.png') no-repeat center top fixed;
}

.container {
	margin: 0 auto;
}
.container.small {
	max-width: 800px;
}

img {
	max-width: 100%;
}

.pull-right {
	float: right;
}
.sr-only {
	display: none;
}

.well {
	box-shadow: none;
	hr {
		height: 3px;
		background-color: darken($white, 15%);
		clear: both;
	}
}

h1 {
	color: $white;
	font-size: 30px;
	font-weight:bold;
	-webkit-font-smoothing: antialiased;
	.btn {
		@include proxima;
	}
	span {
		font-size: 16px;
		font-weight: normal;
		margin-top: 15px;
		a {
			color: $white;
			&:hover {
				color: $yellow;
			}
		}
		.btn {
			margin-top: -20px;
		}
	}
}

.modal-body {
	max-height: 300px;
	overflow: auto;
}