//
// Variables
// --------------------------------------------------
$white: #ffffff;
$black: #000000;

$green-lighter: #e5efdb;
$green-dark: #00702c;
$green: #00a950;
$lime: #58c632;
$yellow: #fff200;
$red: #ca171e;