//
// Wells
// --------------------------------------------------
.well {
	//background-color: $white;
	// padding: 20px;
	//border-radius: 4px;
	h3 {
		margin: 0 0 15px 0;
		padding: 0;
	}
	hr {
		border: 0;
		margin: 20px 0;
		height: 5px;
	}
}

.delete-well {
	text-align: right;
	margin: 20px 0;
	clear: both;
	border-radius: 3px;
	.btn {
		font-size: 14px;
	}
}