//
// Wells
// --------------------------------------------------
.well {
	background: transparent;
	margin-bottom: 20px;
	box-shadow: none;
	border: 1px solid darken($white, 12%);
	background-color: $white;
	@include clearfix;
	padding-bottom: 0;
	h3 {
		margin: 0 0 15px 0;
		padding: 0;
	}
	h4 {
		margin: 0;
	}
}

.well-interior {
	padding: 15px;		
}

.delete-well {
	text-align: right;
	margin: 20px 0;
	clear: both;
	border-radius: 3px;
	.btn {
		font-size: 14px;
	}
}