.pull-right {
  float: right; }

html {
  height: 100%; }

body {
  background-color: #5f9c1d;
  height: 100%;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px; }

.pagewrap {
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 600px 0px #035d32;
          box-shadow: inset 0px 0px 600px 0px #035d32; }

img {
  width: 100%; }

.well {
  -webkit-box-shadow: none;
          box-shadow: none; }

h1 {
  color: #02351c;
  font-size: 50px;
  font-family: "bello-caps", cursive;
  font-style: normal;
  font-weight: 400; }
  h1 .btn {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400; }

.navbar-inverse {
  background-color: #02351c;
  color: #ffffff;
  border-color: #00a950; }
  .navbar-inverse .navbar-nav li a {
    color: #ffffff; }
  .navbar-inverse .navbar-nav li ul li a {
    color: #000000; }
  .navbar-inverse .navbar-brand {
    color: #00a950; }
    .navbar-inverse .navbar-brand img {
      width: auto;
      max-height: 30px;
      position: relative;
      top: -5px; }

.navclear {
  display: block;
  height: 60px; }

.btn-primary {
  background-color: #035d32;
  border-color: #024424; }
  .btn-primary:hover {
    background-color: #00a950;
    border-color: #008f43; }

.btn {
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.login {
  padding-top: 50px; }

.user-row {
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 15px; }
  .user-row.first {
    margin-top: 0;
    padding-top: 0;
    border-top: 0; }
