.pull-right {
  float: right; }

html {
  height: 100%; }

body {
  background-color: #3b7d0b;
  height: 100%;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px; }

.pagewrap {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  background: url('../images/ray-bg.jpg') no-repeat center top fixed; }

.container.small {
  max-width: 800px; }

img {
  width: 100%; }

.well {
  -webkit-box-shadow: none;
          box-shadow: none; }

h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }
  h1 .btn {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400; }
  h1 span {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px; }
    h1 span a {
      color: #ffffff; }
      h1 span a:hover {
        color: #fff200; }
    h1 span .btn {
      margin-top: -20px; }

.modal-body {
  max-height: 300px;
  overflow: auto; }

.navbar-inverse {
  background-color: #02351c;
  background: -webkit-gradient(linear, left top, left bottom, from(#035d32), to(#024424));
  background: -webkit-linear-gradient(#035d32, #024424);
  background: -o-linear-gradient(#035d32, #024424);
  background: linear-gradient(#035d32, #024424);
  color: #ffffff;
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .navbar-inverse .navbar-nav li a {
    color: #ffffff; }
  .navbar-inverse .navbar-nav li ul li a {
    color: #000000; }
  .navbar-inverse .navbar-brand {
    color: #00a950; }
    .navbar-inverse .navbar-brand img {
      width: auto;
      max-height: 30px;
      position: relative;
      top: -5px; }

.navclear {
  display: block;
  height: 60px; }

.navbar-inverse .navbar-toggle:hover {
  background-color: #5f9c1d; }

.btn-primary {
  background-color: #035d32;
  border-color: #024424; }
  .btn-primary:hover {
    background-color: #00a950;
    border-color: #008f43; }

.btn {
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.alert .btn {
  margin-left: 10px;
  float: left;
  margin-top: -7px; }

@media (max-width: 767px) {
  .alert {
    zoom: 1; }
    .alert:before, .alert:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .alert:after {
      clear: both; }
    .alert .pull-right {
      float: none !important;
      text-align: center; }
    .alert .btn {
      float: none;
      display: inline-block;
      margin: 0; } }

.form-group.half {
  float: left;
  width: 48%; }
  .form-group.half.right {
    float: right;
    clear: none; }

.form-group {
  clear: both; }

footer .container {
  color: #ffffff;
  padding-top: 30px; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts-admin/icomoon.eot?c3n08j');
  src: url('fonts-admin/icomoon.eot?#iefixc3n08j') format('embedded-opentype'), url('fonts-admin/icomoon.woff?c3n08j') format('woff'), url('fonts-admin/icomoon.ttf?c3n08j') format('truetype'), url('fonts-admin/icomoon.svg?c3n08j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e600"; }

.icon-image:before {
  content: "\e60a"; }

.icon-folder:before {
  content: "\e60b"; }

.icon-folder-open:before {
  content: "\e60c"; }

.icon-envelope:before {
  content: "\e60d"; }

.icon-box-add:before {
  content: "\e60e"; }

.icon-download:before {
  content: "\e60f"; }

.icon-user:before {
  content: "\e601"; }

.icon-users:before {
  content: "\e602"; }

.icon-cog:before {
  content: "\e610"; }

.icon-remove:before {
  content: "\e611"; }

.icon-remove2:before {
  content: "\e612"; }

.icon-star:before {
  content: "\e605"; }

.icon-heart:before {
  content: "\e609"; }

.icon-close:before {
  content: "\e606"; }

.icon-checkmark:before {
  content: "\e607"; }

.icon-loop:before {
  content: "\e608"; }

.icon-loop2:before {
  content: "\e613"; }

.icon-arrow-right:before {
  content: "\e614"; }

.icon-crop:before {
  content: "\e615"; }

.icon-instagram:before {
  content: "\e603"; }

.icon-twitter:before {
  content: "\e604"; }

.flash-message {
  position: absolute;
  z-index: 9999;
  -webkit-border-radius: 0;
          border-radius: 0;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
  .flash-message.moveup {
    top: -60px;
    -webkit-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }

.login {
  padding-top: 50px; }
  .login .logo {
    text-align: center;
    margin-bottom: 30px; }
  .login img {
    width: auto; }

.user-row {
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 15px; }
  .user-row.first {
    margin-top: 0;
    padding-top: 0;
    border-top: 0; }

.searchterm {
  background-color: rgba(2, 68, 36, 0.8);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 8px;
  margin-bottom: 30px;
  zoom: 1; }
  .searchterm:before, .searchterm:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .searchterm:after {
    clear: both; }
  .searchterm ul {
    float: left;
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1; }
    .searchterm ul:before, .searchterm ul:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .searchterm ul:after {
      clear: both; }
    .searchterm ul li {
      position: relative;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      padding: 3px;
      float: left;
      width: 49%;
      font-size: 18px;
      background-color: #d9e7c9; }
      .searchterm ul li:nth-child(even) {
        float: right; }
      .searchterm ul li label {
        position: absolute;
        color: #035d32;
        font-size: 20px;
        top: 9px;
        left: 13px; }
  .searchterm .btn {
    float: right;
    width: 18%;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #5f9c1d;
    border-color: #4b7a17; }
  .searchterm input[type='text'] {
    border: 1px solid #ccdfb8;
    height: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 40px;
    margin: 0; }
    .searchterm input[type='text']:focus {
      outline: none; }

@media (max-width: 767px) {
  .searchterm ul {
    float: none;
    width: 100%; }
    .searchterm ul li {
      float: none;
      width: 100%;
      margin-bottom: 10px; }
  .searchterm .btn {
    float: none;
    width: 100%; } }

.import-buttons #import-loading {
  display: none; }
  .import-buttons #import-loading img {
    margin-top: -6px;
    float: left;
    width: auto; }

.single-form {
  display: none;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 8px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  zoom: 1; }
  .single-form:before, .single-form:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .single-form:after {
    clear: both; }
  .single-form .buttons {
    float: left;
    width: 20%; }
    .single-form .buttons .help-btn {
      margin-left: 8px; }
  .single-form .inputs {
    float: right;
    width: 78%;
    zoom: 1; }
    .single-form .inputs:before, .single-form .inputs:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .single-form .inputs:after {
      clear: both; }
    .single-form .inputs input[type='text'] {
      float: left;
      width: 78%;
      height: 35px;
      border: 0;
      background-color: #ebebeb;
      padding: 0 8px; }
    .single-form .inputs button {
      float: right;
      width: 20%;
      height: 35px; }

.admin-posts h3 {
  background-color: #ebebeb;
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 20px; }
  .admin-posts h3 em {
    font-style: normal;
    color: #666666;
    font-size: 16px; }
.admin-posts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  border-top: 0; }
  .admin-posts ul li {
    padding: 30px; }
    .admin-posts ul li .ban-user {
      color: #ca171e; }
    .admin-posts ul li:first-child {
      border: 0;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .admin-posts ul li .content {
      -webkit-border-radius: 4px;
              border-radius: 4px;
      padding: 30px 20px 20px 20px;
      background-color: #ffffff;
      zoom: 1;
      -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15); }
      .admin-posts ul li .content:before, .admin-posts ul li .content:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */ }
      .admin-posts ul li .content:after {
        clear: both; }
    .admin-posts ul li.approved .content {
      -webkit-box-shadow: inset 0px 0px 0px 6px #00a950;
              box-shadow: inset 0px 0px 0px 6px #00a950; }
    .admin-posts ul li .avatar {
      float: left;
      width: 10%; }
      .admin-posts ul li .avatar img {
        max-width: 60px; }
    .admin-posts ul li .main {
      float: right;
      width: 89%; }
    .admin-posts ul li .date {
      display: block;
      color: #808080; }
    .admin-posts ul li p {
      font-size: 16px;
      line-height: 24px;
      overflow-x: hidden; }
    .admin-posts ul li .image {
      background-color: #ebebeb;
      padding: 10px;
      clear: both;
      text-align: center;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .admin-posts ul li .image img {
        max-width: 100%; }
    .admin-posts ul li video {
      width: 100%; }
  .admin-posts ul.info {
    float: right;
    margin-bottom: 10px;
    background-color: #ebebeb;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-left: 10px;
    border: 0; }
    .admin-posts ul.info li {
      float: left;
      padding: 5px;
      text-align: center;
      border: 1px solid #e0e0e0; }
      .admin-posts ul.info li i {
        position: relative;
        top: 3px;
        font-size: 18px;
        color: #999999; }
      .admin-posts ul.info li a:hover {
        text-decoration: none; }
        .admin-posts ul.info li a:hover i {
          color: #035d32; }
      .admin-posts ul.info li:first-child {
        -webkit-border-radius: 3px 0px 0px 3px;
                border-radius: 3px 0px 0px 3px; }
      .admin-posts ul.info li:last-child {
        -webkit-border-radius: 0px 3px 3px 0px;
                border-radius: 0px 3px 3px 0px; }
      .admin-posts ul.info li.like-count {
        -webkit-border-radius: 3px;
                border-radius: 3px; }

.status {
  clear: both; }
  .status ul {
    background-color: #ffffff;
    border: 0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 30px 10px 10px 10px;
    zoom: 1; }
    .status ul:before, .status ul:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .status ul:after {
      clear: both; }
    .status ul li {
      border: 0;
      float: left;
      width: 50%;
      padding: 0;
      text-align: center; }
      .status ul li a {
        display: block;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        background-color: #00a950;
        -webkit-border-radius: 0px 3px 3px 0px;
                border-radius: 0px 3px 3px 0px;
        position: relative;
        -webkit-transition: all 200ms ease;
             -o-transition: all 200ms ease;
                transition: all 200ms ease; }
        .status ul li a.disabled {
          opacity: 0.5;
          cursor: not-allowed; }
          .status ul li a.disabled:hover {
            background-color: #00a950; }
        .status ul li a:hover {
          text-decoration: none;
          background-color: #007637;
          -webkit-transition: all 200ms ease;
               -o-transition: all 200ms ease;
                  transition: all 200ms ease; }
        .status ul li a i {
          position: absolute;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2);
          display: block;
          width: 40px;
          line-height: 40px; }
      .status ul li:first-child a {
        background-color: #ca171e;
        -webkit-border-radius: 3px 0px 0px 3px;
                border-radius: 3px 0px 0px 3px; }
        .status ul li:first-child a:hover {
          background-color: #9c1219; }
        .status ul li:first-child a i {
          left: 0; }

.status-approved {
  clear: both;
  text-align: center;
  padding-top: 15px; }
  .status-approved p {
    background-color: #00a950;
    color: #ffffff;
    padding: 8px 0;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .status-approved a {
    color: #ca171e; }

.loading-infinite {
  text-align: center;
  padding-top: 10px; }
  .loading-infinite img {
    width: auto; }

.admin-posts .pagination {
  width: 100%;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  text-align: center;
  padding-bottom: 20px; }
  .admin-posts .pagination li {
    display: inline-block;
    padding: 0; }
    .admin-posts .pagination li.active span {
      background-color: #00a950; }
    .admin-posts .pagination li a {
      color: #00a950; }

@media (max-width: 767px) {
  .admin-posts ul li {
    padding: 10px; }
    .admin-posts ul li .content {
      padding: 20px 10px 10px 10px; }
    .admin-posts ul li .avatar {
      width: 15%; }
    .admin-posts ul li .main {
      width: 82%; }
    .admin-posts ul li p {
      font-size: 15px;
      line-height: 20px; }
    .admin-posts ul li .image {
      padding: 3px; }
  .status ul {
    padding: 20px 10px 10px 10px; }
    .status ul li {
      float: none;
      width: 100%;
      padding: 0; }
      .status ul li a {
        -webkit-border-radius: 0;
                border-radius: 0; }
        .status ul li a i {
          left: 0;
          -webkit-border-radius: 0;
                  border-radius: 0; }
      .status ul li:first-child a {
        -webkit-border-radius: 0;
                border-radius: 0; } }

#trash-loading {
  margin-top: -6px;
  display: none; }
  #trash-loading img {
    width: auto; }

.admin-posts.trash ul li {
  padding: 0px 20px 20px 20px; }
  .admin-posts.trash ul li:first-child {
    padding-top: 20px; }
  .admin-posts.trash ul li p {
    max-height: 100px;
    overflow: hidden; }
  .admin-posts.trash ul li .content {
    padding: 20px 10px 10px 10px; }
  .admin-posts.trash ul li p {
    float: left;
    width: 70%;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden; }
  .admin-posts.trash ul li .image {
    float: right;
    width: 24%;
    background-color: #ebebeb;
    padding: 3px;
    clear: none; }
.admin-posts.trash .status ul {
  padding: 10px; }
  .admin-posts.trash .status ul li {
    padding: 0; }

.banned-users {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }
  .banned-users li {
    padding: 8px;
    zoom: 1;
    font-size: 16px; }
    .banned-users li:before, .banned-users li:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .banned-users li:after {
      clear: both; }
    .banned-users li:nth-child(even) {
      background-color: #ebebeb; }
    .banned-users li i {
      color: #035d32;
      font-size: 22px;
      position: relative;
      top: 5px;
      margin-right: 10px; }
    .banned-users li .screenname {
      color: #035d32; }
