.container {
  width: 980px; }

.bubbles, .post-area, .nextposts, .bubble-pattern, .bubble-pattern-small {
  display: none; }

.preloader {
  display: none !important; }

.main-nav ul li a {
  background: url('../images/ie-star.png') no-repeat;
  background-position: 0px 3px;
  padding: 0 20px 0 37px; }
  .main-nav ul li a:before {
    content: none; }
.main-nav ul li:first-child a {
  background: transparent; }

.social-links li a {
  background: transparent;
  background-position: center; }
  .social-links li a:hover {
    background: transparent;
    border: 0; }
.social-links.top {
  background: transparent; }
.social-links i {
  display: block;
  width: 42px;
  height: 42px; }
  .social-links i:before {
    content: none; }
  .social-links i.icon-twitter {
    background: url('../images/ie7-social-twitter.png'); }
  .social-links i.icon-facebook {
    background: url('../images/ie7-social-facebook.png'); }
  .social-links i.icon-vine {
    background: url('../images/ie7-social-vine.png'); }
  .social-links i.icon-instagram {
    background: url('../images/ie7-social-instagram.png'); }
  .social-links i.icon-youtube {
    background: url('../images/ie7-social-youtube.png'); }

footer .main {
  float: right; }
  footer .main li {
    float: left; }
    footer .main li a {
      padding: 8px 20px 8px 40px;
      background: url('../images/ie-star.png') no-repeat;
      background-position: 0px 10px; }
    footer .main li:after {
      content: none; }
    footer .main li:first-child a {
      background: transparent; }
footer .social {
  display: none; }

header .logo {
  width: 200px; }
header .buy-button {
  margin-top: 20px;
  display: block;
  background: url('../images/ie-buy-button.png') no-repeat;
  border: 0;
  text-align: center;
  padding: 13px 0px 8px 0px;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 157px;
  height: 54px; }
  header .buy-button i {
    display: none; }

.home-hero {
  background: url('../images/home-headline-rays.jpg');
  background-repeat: repeat-x; }
  .home-hero .headline .button {
    display: block;
    background: url('../images/ie-yellow-btn-large.png') no-repeat;
    background-position: center;
    width: 315px;
    height: 68px;
    margin: 0 auto 50px auto;
    padding: 3px 0px 0px 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0; }
    .home-hero .headline .button:hover {
      background: url('../images/ie-yellow-btn-large.png') no-repeat; }
  .home-hero hr {
    display: none; }

.social-posts {
  width: 960px; }
  .social-posts .item {
    width: 33%; }
    .social-posts .item .user-info {
      background: url('../images/ie-black-bg-light.png'); }
    .social-posts .item .twitter-links {
      width: 100%; }
      .social-posts .item .twitter-links li a {
        background: url('../images/ie-black-bg-light.png'); }
    .social-posts .item .facebook-caption {
      background: url('../images/ie-black-bg-light.png'); }

.load-more {
  display: block;
  margin: 0px auto 40px auto;
  background: url('../images/ie-load-more-button.png') no-repeat;
  width: 461px;
  height: 70px;
  padding: 18px 0 0 0;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .load-more i {
    top: 7px; }

.page.loading {
  display: block !important; }

.joy-meter {
  display: none !important; }

.home-callouts {
  background: transparent; }
  .home-callouts .products {
    float: left;
    width: 45%; }
    .home-callouts .products img {
      -webkit-border-radius: 0px;
              border-radius: 0px; }
    .home-callouts .products span {
      position: relative;
      font-size: 30px;
      line-height: 50px;
      width: 100%;
      height: auto;
      -webkit-border-radius: 0px;
              border-radius: 0px;
      border: 0; }
    .home-callouts .products:hover span {
      background-color: #ffffff;
      color: #008d2c;
      top: auto; }
  .home-callouts .history {
    float: right;
    width: 45%;
    margin-top: 0px; }
    .home-callouts .history span {
      position: relative;
      bottom: auto;
      width: 100%;
      height: auto;
      line-height: 50px;
      -webkit-border-radius: 0px;
              border-radius: 0px;
      border: 0;
      font-size: 30px;
      background-color: #fff200;
      color: #006c23; }
    .home-callouts .history img {
      -webkit-border-radius: 0;
              border-radius: 0; }
    .home-callouts .history:hover span {
      bottom: auto; }

.page-hero {
  background: url('../images/page-hero-rays-ie.jpg') repeat-x;
  -webkit-box-shadow: none;
          box-shadow: none; }

.flavor {
  -webkit-box-shadow: none;
          box-shadow: none; }
  .flavor .container {
    width: 960px; }
  .flavor .large-image {
    width: 270px; }
  .flavor h2 {
    font-size: 60px; }
  .flavor .products ul {
    display: inline-block;
    width: 90%;
    zoom: 1; }
    .flavor .products ul:before, .flavor .products ul:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .flavor .products ul:after {
      clear: both; }
    .flavor .products ul li p a {
      background: url('../images/ie-black-bg-light.png'); }
      .flavor .products ul li p a:hover {
        background: url('../images/ie-black-bg-light.png'); }

.locate-page .store-button {
  display: block;
  background: url('../images/ie-yellow-btn-large.png') no-repeat;
  background-position: center;
  width: 315px;
  height: 68px;
  margin: 0 auto 50px auto;
  padding: 3px 0px 0px 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  text-transform: none;
  letter-spacing: 0; }
  .locate-page .store-button:hover {
    background: url('../images/ie-yellow-btn-large.png') no-repeat; }
.locate-page ul {
  display: inline;
  zoom: 1; }
  .locate-page ul:before, .locate-page ul:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .locate-page ul:after {
    clear: both; }
  .locate-page ul li {
    float: left; }

.history-hero {
  margin: 30px 0 30px 0; }
