@font-face {
    font-family: 'thirsty';
    src: url('fonts/thirstysoftbold-webfont.eot');
    src: url('fonts/thirstysoftbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/thirstysoftbold-webfont.woff') format('woff'),
         url('fonts/thirstysoftbold-webfont.ttf') format('truetype'),
         url('fonts/thirstysoftbold-webfont.svg#thirsty_softbold') format('svg');
    font-weight: normal;
    font-style: normal;
}