//
// Homepage Parralax Elements
// --------------------------------------------------
.home-red-can {
	position: absolute;
	right: 40px;
	bottom: -30px;
	z-index: 19;
	width: 16.25%; //260/1600
	max-width: 260px;
}

.home-green-can {
	position: absolute;
	right: 11%;
	width: 20.625%; //330/1600
	max-width: 330px;
	z-index: 20;
	top: 100px;
}

@media (max-width: 767px)
{
	.home-red-can, .home-green-can {
		display: none;
	}
}