//
// Homepage Callouts
// --------------------------------------------------
.home-callouts {
	background: url('../images/pattern-type.png');
	padding: 40px 0;
	@include clearfix;
	.products {
		float: left;
		width: 50%;
		display: block;
		position: relative;
		img {
			border-radius: 400px;
			transition: all 200ms ease;
		}
		span {
			display: block;
			position: absolute;
			top: 0;
			z-index: 1;
			@include thirsty;
			background-color: $yellow;
			color: $green-dark;
			font-size: 34px;
			line-height: 170px;
			text-align: center;
			width: 180px;
			height: 180px;
			border-radius: 100px;
			border: 8px solid $green;
			transition: all 200ms ease;
		}
		&:hover {
			img {
				transition: all 200ms ease;
				transform: rotate(20deg);
			}
			span {
				background-color: $green-dark;
				color: $white;
				top: -10px;
				transition: all 200ms ease;
				border-color: $lime;
				box-shadow: 8px 8px 10px 0px rgba(0,0,0,.5);
			}
		}
	}
} // .home-callouts


@media (max-width: 767px)
{
	.home-callouts {
		.products {
			float: none;
			width: 100%;
			img {
				border-radius: 0;
			}
			span {
				position: relative;
				width: auto;
				height: auto;
				border-radius: 0;
				line-height: 50px;
				border: 0;
				font-size: 28px;
			}
			&:hover img {
				transform: none;
			}
		}
	} // .home-callouts
}