//
// Joy Meter
// --------------------------------------------------
.joy-meter {
	display: none;
	width: 350px;
	height: 350px;
	position: absolute;
	left: 50%;
	bottom: -50px;
	z-index: 2;
	margin-left: -175px;
	box-shadow: 20px 20px 30px 0px rgba(0,0,0,.4), inset 0px 0px 3px 0px rgba(0,0,0,.4);
	border-radius: 200px;
	.meter-interior {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	.gauge {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 1px;
		transform: rotate(0deg);
		transition: all 3s ease;
	}
	.needle {
		position: absolute;
		z-index: 3;
		left: 50%;
		margin-left: -19px;
		transform: rotate(-90deg);
		transition: all 3s ease;
	}
	&.active {
		.needle {
			transform: rotate(90deg);
			transition: all 3s ease;
		}
		.gauge {
			transform: rotate(180deg);
			transition: all 3s ease;
		}
	}
}
.cssanimations.csstransforms .joy-meter {
	display: block;
}

@media (max-width: 767px)
{
	.joy-meter {
		display: none !important;
	}
}