//
// Mixins
// --------------------------------------------------
@mixin clearfix {
	zoom: 1;
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

@mixin unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin thirsty {
	font-family: 'thirsty', 'proxima-nova', sans-serif;
}

@mixin altGothic {
	font-family: "alternate-gothic-no-2-d",sans-serif;
	font-style: normal;
	font-weight: 400;
}