//
// Modals
// --------------------------------------------------

.modal-open {
	overflow: hidden;
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999999;
	-webkit-overflow-scrolling: touch;
	outline: 0;

	&.fade .modal-dialog {
		transition: all 0.3s ease-out;
	}

	&.nutrition .modal-body {
		text-align: center;
	}

}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}


.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

// Actual modal
.modal-content {
	position: relative;
	background-color: $white;
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	outline: 0;
	color: $black;
}

// Modal background
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999999;
	background-color: #000;

	&.fade { 
		opacity: 0; 
		transition: all 0.3s ease-out;
	}
	&.in { 
		opacity: 0.9; 
		transition: all 0.3s ease-out;
	}
}

.modal-header {
	padding: 15px 6px 6px 6px;
	border-bottom: 1px solid darken($white, 8%);
	color: $black;
	@include clearfix;
	h4 {
		font-family: $base-font-family;
		color: $black;
		font-size: 16px;
		padding: 0;
		font-weight: bold;
	}
}
// Close icon
.modal-header .close {
	margin-top: -11px;
	float: right;
	height: auto;
	padding: 0 10px;
	font-weight: bold;
	background: transparent;
	border: 0;
	font-size: 28px;
	color: $black;
}

// Title text within header
.modal-title {
	margin: -6px 0px 0px 0px;
}

.modal-body {
	position: relative;
	padding: 10px;
	min-height: 200px;
	&.loading {
		background: url('../images/loading-white-green.gif') no-repeat;
		background-position: center;
	}
}

// Footer (for actions)
.modal-footer {
	padding: 10px;
	text-align: right;
	@include clearfix();

	// Properly space out buttons
	.btn + .btn {
		margin-left: 5px;
		margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
	}
	// but override that for button groups
	.btn-group .btn + .btn {
		margin-left: -1px;
	}
	// and override it for block buttons as well
	.btn-block + .btn-block {
		margin-left: 0;
	}
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

// Scale up the modal
@media (min-width: 768px) {
	// Automatically set modal's width for larger viewports
	.modal-dialog {
		width: 500px;
		margin: 70px auto 30px auto;
	}
	.modal-content {
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}

}
