//
// Contact Form
// --------------------------------------------------
.contact-page {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.contact-form {
	background-color: darken($green, 10%);
	padding: 20px;
	border-radius: 4px;
	text-align: left;
	margin-bottom: 30px;
}