//
// Products Page
// --------------------------------------------------

/**
* Flavor Styles
*/
.flavor {
	overflow: hidden;
	padding: 50px 0px 20px 0px;
	background-color: darken($green-dark, 4%);
	box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,.4);
	.container {
		max-width: none;
		width: 85%;
		position: relative;
	}
	.large-image {
		position: absolute;
		left: 0;
		top: -30px;
		width: 31%; //364/1290
		max-width: 350px;
	}
	.content {
		float: right;
		width: 67.4418604651%; //870/1290
		@include clearfix;
	}
	h2 {
		@include altGothic;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		font-size: 72px;
		line-height: 60px;
		margin: 0;
	}
	p {
		font-size: 18px;
		line-height: 34px;
	}
	// Available In Sizes
	.products {
		clear: both;
		padding-top: 20px;
		text-align: center;
		.heading {
			position: relative;
			margin-bottom: 30px;
			@include clearfix;
			span {
				position: absolute;
				width: 33.33%;
				display: block;
				height: 6px;
				left: 4px;
				top: 8px;
				border-top: 1px solid $green;
				border-bottom: 1px solid $green;
				&.right {
					left: auto;
					right: 0;
				}
			}
			h3 {
				@include thirsty;
				color: $yellow;
				-webkit-font-smoothing: antialiased;
				font-size: 32px;
			}
		} // .heading
		ul {
			display: inline-block;
			width: 90%;
			@include clearfix;
			li {
				float: left;
				&:first-child {
					margin-left: 0;
				}
				strong {
					display: block;
					@include altGothic;
					font-size: 24px;
					margin-bottom: 8px;
				}
				img {
					margin-bottom: 10px;
					width: 80%;
					max-width: 215px;
					border: 2px solid $green;
				}
				p {
					color: $yellow;
					font-size: 15px;
					a {
						display: inline-block;
						background-color: rgba(0,0,0,.15);
						padding: 6px 10px;
						border-radius: 3px;
						line-height: 15px;
						transition: all 200ms ease;
						&:hover {
							background-color: $white;
							color: $green;
						}
					}
				} // p
			} // li 
			&.four li {
				width: 25%;
			}
			&.three li {
				width: 33.33%;
			}
			&.two li {
				width: 50%;
			}
		} // ul
	} // .products
	&.even {
		.large-image {
			left: auto;
			right: 0;
		}
		.content {
			float: left;
			width: 67.4418604651%; //870/1290
		}
	}
} // .flavor


/**
* Joy Juice
*/
.joy-juice {
	padding-top: 20px;
	box-shadow: none;
}


/**
* Fruit Shine
*/
.fruit-shine {
	background-image: url('../images/pattern-type-yellow.png');
	h2 {
		color: $red-dark;
	}
	p {
		color: $black;
	}
	.products {
		.heading {
			span {
				border-color: rgba(0,0,0,.15);
			}
			h3 {
				color: $red;
			}
		}
		ul li {
			img {
				border-color: $red-dark;
			}
			strong {
				color: $red-dark;
			}
			p a {
				color: $red-dark;
				background-color: rgba(0,0,0,.15);
				&:hover {
					background-color: $white;
					color: $green;
				}
			} // p
		} // ul
	}
} // .fruit-shine


/**
* Fuzzy Navel
*/
.fuzzy-navel {
	background-color: #a12f25;
	h2 {
		color: $white;
	}
	.products {
		.heading {
			span {
				border-color: darken(#a12f25, 10%);
			}
			h3 {
				color: $white;
			}
		}
		ul li {
			img {
				border-color: darken(#a12f25, 10%);
			}
		}
	}
} // .fuzzy-navel


/**
* Maliblu
*/
.maliblu {
	background-color: #003e7b;
	background-image: url('../images/pattern-type-blue.png');
	.large-image {
		top: -30px;
	}
	h2 {
		color: $orange;
	}
	.products {
		.heading {
			span {
				border-color: darken($cyan, 10%);
			}
			h3 {
				color: $orange;
			}
		}
		ul li {
			img {
				border-color: darken($cyan, 10%);
			}
		}
	}
} // .maliblu


@media(max-width: 1350px)
{
	.flavor h2 {
		font-size: 65px;
	}
}


@media(max-width: 1100px)
{
	.flavor {
		padding: 20px 0px 20px 0px;
		.container {
			width: 95%;
		}
		h2 {
			font-size: 46px;
			line-height: 40px;
		}
		p {
			font-size: 16px;
			line-height: 28px;
		}
		.products {
			padding-top: 10px;
			.heading {
				position: relative;
				margin-bottom: 20px;
				span {
					width: 31%;
				}
				h3 {
					font-size: 26px;
				}
			}
			ul {
				width: 100%;
			} // ul
		} // .products
	} // .flavor
}


@media(max-width: 767px)
{
	.flavor {
		padding: 20px 0px 20px 0px;
		.container {
			max-width: none;
			width: 100%;
		}
		.large-image {
			display: none;
		}
		.content {
			float: none;
			width: 100%;
			.description {
				float: none;
				width: 100%;
			}
			.description-image {
				display: none;
			}
		}
		h2 {
			font-size: 45px;
			line-height: 50px;
			text-align: center;
		}
		p {
			text-align: center;
			font-size: 16px;
			line-height: 28px;
		}
		.products {
			.heading {
				span {
					display: none;
				}
				h3 {
					font-size: 28px;
				}
			}
			ul {
				display: block;
				width: 100%;
				li {
					float: none;
					img {
						max-width: none;
					}
				} // li 
				&.four li, &.three li, &.two li {
					width: 100%;
				}
			} // ul
		} // .products
		&.even .content {
			float: none;
			width: 100%;
		}
	} // .flavor
}
