//
// Pattern Elements
// --------------------------------------------------

// HR
.bubble-pattern {
	width: 100%;
	height: 164px;
	background: url('../images/pattern-bubbles-large-dark.png') repeat-x;
	border: 0;
}

.bubble-pattern-small {
	width: 100%;
	height: 80px;
	background: url('../images/pattern-bubbles-small.png') repeat-x;
	border: 0;
}