//
// Pattern Elements
// --------------------------------------------------

// HR
.bubble-pattern {
	width: 100%;
	height: 164px;
	background: url('../images/pattern-bubbles.png') repeat-x;
	border: 0;
}