//
// Social Posts
// --------------------------------------------------

#infscr-loading{
	display: none !important;
}

.post-area {
	position: relative;
	z-index: 5;
	background-color: $green-dark;
}

.social-posts {
	max-width: 1300px;
	margin: 0 auto;

	&.loading {
		height: 300px;
		background: url('../images/loading-yellow.gif') no-repeat;
		background-position: center;
		.item {
			display: none;
		}
	}

	.item {
		width: 25%;
		margin-bottom: 20px;
		color: $black;
		padding: 0px 10px;

		// Inner items for masonry
		.post {
			padding: 10px;
			border-radius: 4px;
			overflow-x: hidden;
		}

		a {
			color: darken($green-dark, 10%);
			&:hover {
				color: $green;
			}
		}

		.user-info {
			background-color: rgba(0,0,0,.15);
			padding: 6px;
			border-radius: 60px;
			margin-bottom: 15px;
			@include clearfix;
			img {
				float: left;
				width: 20%;
				border-radius: 40px;
				margin-right: 5%;
			}
			p {
				float: left;
				width: 50%;
				overflow-x: hidden;
				margin-top: 16px;
			}
			span {
				float: right;
				width: 20%;
				margin-top: 10px;
				text-align: center;
				i {
					font-size: 30px;
				}
			}
		} // .user-info

		.content {
			line-height: 20px;
			margin-bottom: 15px;
		}

		.image-margin {
			margin-bottom: 15px;
		}

		.twitter-links {
			@include clearfix;
			width: 85%;
			margin: 0 auto;
			li {
				float: left;
				width: 33.333%;
				padding: 0;
				border-radius: 0;
				a {
					display: block;
					background-color: rgba(0,0,0,.15);
					text-align: center;
					height: 35px;
					font-size: 20px;
					box-shadow: inset 1px 0px 0px 0px rgba(0,0,0,.1);
					i {
						line-height: 35px;
					}
					&:hover {
						background-color: $green-dark;
						color: $yellow;
					}
				}
				&:first-child a {
					border-radius: 20px 0px 0px 20px;
					box-shadow: none;
				}
				&:last-child a {
					border-radius: 0px 20px 20px 0px;
				}
			}
		} // .twitter-links

		// Coloring
		&.white .post {
			background-color: $white;
		}
		&.yellow .post {
			background-color: $yellow;
		}
		&.lime .post {
			background-color: $lime;
		}
	} // li
} // .social-posts


.load-more {
	display: inline-block;
	margin-bottom: 40px;
	background-color: $yellow;
	width: 40%;
	color: $green-dark;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	padding: 10px 0;
	font-weight: bold;
	border-radius: 30px;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, .6);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,.3);
	i {
		position: absolute;
		line-height: 45px;
		width: 45px;
		height: 45px;
		right: 10px;
		top: 0;
		transition-property: -webkit-transform;
    	transition-duration: 1s;

    	-moz-transition-property: -moz-transform;
   		-moz-transition-duration: 1s;
	}
	&.loading i {
		animation-name: rotate; 
	    animation-duration: 1s; 
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	}
	&.disabled {
		background-color: darken($green-dark, 15%);
		cursor: not-allowed;
		color: $white;
		text-shadow: none;
	}
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

.pagination.hidden {
	display: none;
}


@media (max-width: 1140px)
{
	.social-posts .item {
		width: 33.333%;
	}
}

@media (max-width: 767px)
{
	.social-posts .item {
		width: 100%;
	}

	.load-more {
		width: 90%;
	}
}