//
// Variables
// --------------------------------------------------

// Fonts
$base-font-family: "proxima-nova", sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$green-dark: #006c23;
$green: #008d2c;
$lime: #8ee031;
$yellow: #fff200;