//
// IE 8 Specific Styles
// --------------------------------------------------

@import "_variables.scss";
@import "_mixins.scss";

.container {
	width: 980px;
}

// Top Social Links
// Need PNG background to replace rgba
.social-links {
	li a {
		background: url('../images/social-ie-bg.png') no-repeat;
		background-position: center;
		&:hover {
			background: url('../images/social-ie-bg.png') no-repeat;
			border: 0;
			color: $white;
		}
	}
	&.top {
		background: url('../images/ie-black-bg.png') repeat;
	}
}

// Footer
// Social links need PNG background
footer {
	.main li {
		a {
			padding: 8px 20px 8px 40px;
			background: url('../images/ie-star.png') no-repeat;
			background-position: 0px 10px;
		}
		&:after {
			content: none;
		}
		&:first-child a {
			background: transparent;
		}
	}
	.social a {
		background: url('../images/ie-social-green-bg.png');
		border-radius: 0px;
		&:hover {
			background: url('../images/ie-social-green-bg.png');
		}
	}
}


// Top Buy Button
// Needs PNG background
header {
	.logo {
		width: 200px;
	}
	.buy-button {
		margin-top: 20px;
		display: block;
		background: url('../images/ie-buy-button.png') no-repeat;
		border: 0;
		padding: 13px 10px 8px 45px;
		border-radius: 0;
		box-shadow: none;
		width: 157px;
		height: 54px;
	}
} // header


// Home Hero Button Needs Image Background
.home-hero {
	background: url('../images/home-headline-rays.jpg');
	background-repeat: repeat-x;
	.headline .button {
		display: block;
		background: url('../images/ie-yellow-btn-large.png') no-repeat;
		background-position: center;
		width: 315px;
		height: 68px;
		margin: 0 auto 50px auto;
		padding: 3px 0px 0px 0px;
		box-shadow: none;
		border:0;
		&:hover {
			background: url('../images/ie-yellow-btn-large.png') no-repeat;
		}
	}
}


// Social Posts need png background - replaces rgba
.social-posts {
	width: 960px;
	.item {
		width: 33%;
		.user-info {
			background: url('../images/ie-black-bg-light.png');
		} 
		.twitter-links {
			width: 100%;
			li a {
				background: url('../images/ie-black-bg-light.png');
			}
		}
		.facebook-caption {
			background: url('../images/ie-black-bg-light.png');
		}
	}
}


// Load more button needs png background
.load-more {
	display: block;
	margin: 0px auto 40px auto;
	background: url('../images/ie-load-more-button.png') no-repeat;
	width: 461px;
	height: 70px;
	padding: 18px 0 0 0;
	border-radius: 0px;
	box-shadow: none;
	i {
		top: 7px;
	}
}

// Homepage Callouts
.joy-meter {
	display: none !important;
}
.home-callouts {
	.products {
		float: left;
		width: 45%;
		img {
			border-radius: 0px;
		}
		span {
			position: relative;
			font-size: 30px;
			line-height: 50px;
			width: 100%;
			height: auto;
			border-radius: 0px;
			border: 0;
		}
	} // .products
	.history {
		float: right;
		width: 45%;
		margin-top: 0px;
		span {
			position: relative;
			bottom: auto;
			width: 100%;
			height: auto;
			line-height: 50px;
			border-radius: 0px;
			border: 0;
			font-size: 30px;
			background-color: $yellow;
			color: $green-dark;
		}
		img {
			border-radius: 0;
		}
	} // .history
} // .home-callouts


// Page Hero
.page-hero {
	background: url('../images/page-hero-rays-ie.jpg') repeat-x;
	box-shadow: none;
}

// Products Page
.flavor {
	box-shadow: none;
	.container {
		width: 960px;
	}
	h2 {
		font-size: 60px;
	}
	.products ul {
		display: inline-block;
		width: 90%;
		@include clearfix;
		li p a {
			background: url('../images/ie-black-bg-light.png');
			&:hover {
				background: url('../images/ie-black-bg-light.png');
			}
		}
	}
}

// Locate Page
.locate-page {
	.store-button {
		display: block;
		background: url('../images/ie-yellow-btn-large.png') no-repeat;
		background-position: center;
		width: 315px;
		height: 68px;
		margin: 0 auto 50px auto;
		padding: 3px 0px 0px 0px;
		box-shadow: none;
		border:0;
		text-transform: none;
		letter-spacing: 0;
		&:hover {
			background: url('../images/ie-yellow-btn-large.png') no-repeat;
		}
	}

} // .locate-page